<ui:composition template="/WEB-INF/templates/layout/applayout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">
	
	<ui:define name="meta">
        <f:metadata>
            <f:attribute name="content" value="text/html; utf-8" />
        </f:metadata>
    </ui:define>

	<ui:define name="content">

		<o:form id="form" name="form" method="post"
			includeRequestParams="true" enctype="multipart/form-data"
			acceptcharset="UTF-8" lang="es">

			<f:validateBean disabled="true">

				<p:outputPanel id="mainPanel" style="margin:20px; font-size:90%;">

					<ui:insert name="multipartForm" />

				</p:outputPanel>

			</f:validateBean>

		</o:form>
		
		<o:highlight />

        <p:spacer height="250" />

	</ui:define>

</ui:composition>