<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:forgeview="http://jboss.org/forge/view"
	template="/WEB-INF/templates/crudTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{tramiteBean.id}'/>
		<f:event type="preRenderView" listener='#{tramiteBean.retrieve}'/>
	</f:metadata>

	<ui:param name="pageTitle" value="Create Tramite"/>

	<ui:define name="header">
		Tramite
	</ui:define>

	<ui:define name="subheader">
		<c:choose>
			<c:when test='#{!empty tramiteBean.id}'>
				Editar Tramite
			</c:when>
			<c:otherwise>
				Crear Tramite
			</c:otherwise>
		</c:choose>
	</ui:define>

	<ui:define name="footer"/>

	<ui:define name="main">
		<h:form id="create">
			<h:messages globalOnly="true" styleClass="error"/>

			<h:panelGrid columnClasses="label,component,required" columns="3">
				<h:outputLabel for="tramiteBeanTramiteCodigoSIA" value="Codigo SIA:"/>
				<h:panelGroup>
					<h:inputText id="tramiteBeanTramiteCodigoSIA" required="true" value="#{tramiteBean.tramite.codigoSIA}"/>
					<h:message for="tramiteBeanTramiteCodigoSIA" styleClass="error"/>
				</h:panelGroup>
				<h:outputText value="*"/>
				<h:outputLabel for="tramiteBeanTramiteDescripcion" value="Descripcion:"/>
				<h:panelGroup>
					<h:inputText id="tramiteBeanTramiteDescripcion" required="true" value="#{tramiteBean.tramite.descripcion}"/>
					<h:message for="tramiteBeanTramiteDescripcion" styleClass="error"/>
				</h:panelGroup>
				<h:outputText value="*"/>
				<h:outputLabel for="tramiteBeanTramiteNombre" value="Nombre:"/>
				<h:panelGroup>
					<h:inputText id="tramiteBeanTramiteNombre" required="true" value="#{tramiteBean.tramite.nombre}"/>
					<h:message for="tramiteBeanTramiteNombre" styleClass="error"/>
				</h:panelGroup>
				<h:outputText value="*"/>


				<h:outputLabel for="tramiteBeanTramitejustificantePdf" value="Justificante Pdf:"/>
				<h:panelGroup>
					<h:selectOneMenu converter="#{justificantePdfBean.converter}" id="tramiteBeanTramitejustificantePdf" value="#{tramiteBean.tramite.justificantePdf}">
						<f:selectItem/>
						<f:selectItems itemLabel="#{forgeview:display(_item.nombre)}" itemValue="#{_item}" value="#{justificantePdfBean.all}" var="_item"/>
					</h:selectOneMenu>
					<h:message for="tramiteBeanTramitejustificantePdf" styleClass="error"/>
				</h:panelGroup>
				<h:outputText/>
				<h:outputLabel for="tramiteBeanTramiteSolicitudPdf" value="Solicitud Pdf:"/>
				<h:panelGroup>
					<h:selectOneMenu converter="#{solicitudPdfBean.converter}" id="tramiteBeanTramiteSolicitudPdf" value="#{tramiteBean.tramite.solicitudPdf}">
						<f:selectItem/>
						<f:selectItems itemLabel="#{forgeview:display(_item.nombre)}" itemValue="#{_item}" value="#{solicitudPdfBean.all}" var="_item"/>
					</h:selectOneMenu>
					<h:message for="tramiteBeanTramiteSolicitudPdf" styleClass="error"/>
				</h:panelGroup>
				<h:outputText/>
				<h:outputLabel for="tramiteBeanTramiteUnidadResponsable" value="Unidad Responsable:"/>
				<h:panelGroup>
					<h:inputText id="tramiteBeanTramiteUnidadResponsable" required="true" value="#{tramiteBean.tramite.unidadResponsable}"/>
					<h:message for="tramiteBeanTramiteUnidadResponsable" styleClass="error"/>
				</h:panelGroup>
				<h:outputText value="*"/>
				<h:outputLabel for="tramiteBeanTramiteClaveUCM" value="Clave UCM:"/>
				<h:panelGroup>
					<h:inputText id="tramiteBeanTramiteClaveUCM" value="#{tramiteBean.tramite.claveUCM}"/>
					<h:message for="tramiteBeanTramiteClaveUCM" styleClass="error"/>
				</h:panelGroup>
				<h:outputText/>
				<h:outputLabel for="tramiteBeanTramitePlantillaEmail" value="Plantilla Email:"/>
				<h:panelGroup>
					<h:selectOneMenu converter="#{plantillaEmailBean.converter}" id="tramiteBeanTramitePlantillaEmail" value="#{tramiteBean.tramite.plantillaEmail}">
						<f:selectItem/>
						<f:selectItems itemLabel="#{forgeview:display(_item)}" itemValue="#{_item}" value="#{plantillaEmailBean.all}" var="_item"/>
					</h:selectOneMenu>
					<h:message for="tramiteBeanTramitePlantillaEmail" styleClass="error"/>
				</h:panelGroup>
				<h:outputText/>
			</h:panelGrid>

			<div class="buttons">
				<h:commandLink value="Grabar" action='#{tramiteBean.update}' styleClass="btn btn-primary"/>
				<c:choose>
					<c:when test='#{!empty tramiteBean.id}'>
						<h:link value="Cancelar" outcome="view" styleClass="btn btn-primary">
							<f:param name="id" value='#{tramiteBean.id}'/>
						</h:link>
						<h:commandLink value="Borrar" action='#{tramiteBean.delete}' styleClass="btn btn-primary"/>
					</c:when>
					<c:otherwise>
						<h:link value="Cancelar" outcome="search" styleClass="btn btn-primary"/>
					</c:otherwise>
				</c:choose>
			</div>
		</h:form>
	</ui:define>

</ui:composition>