<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/WEB-INF/templates/crudTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{idiomaBean.id}'/>
		<f:event type="preRenderView" listener='#{idiomaBean.retrieve}'/>
	</f:metadata>

	<ui:param name="pageTitle" value="View Idioma"/>

	<ui:define name="header">
		Idioma
	</ui:define>

	<ui:define name="subheader">
		Ver Idioma
	</ui:define>

	<ui:define name="footer"/>

	<ui:define name="main">
		<h:panelGrid columnClasses="label,component,required" columns="3">
			<h:outputLabel for="idiomaBeanIdiomaLocale" value="Locale:"/>
			<h:outputText id="idiomaBeanIdiomaLocale" value="#{idiomaBean.idioma.locale}"/>
			<h:outputText/>
			<h:outputLabel for="idiomaBeanIdiomaNombre" value="Nombre:"/>
			<h:outputText id="idiomaBeanIdiomaNombre" value="#{idiomaBean.idioma.nombre}"/>
			<h:outputText/>
		</h:panelGrid>

		<div class="buttons">
			<h:link value="Ver todos" outcome="search" styleClass="btn btn-primary"/> 
			<h:link value="Editar" outcome="create" includeViewParams="true" styleClass="btn btn-primary"/>
			<h:link value="Crear nuevo" outcome="create" styleClass="btn btn-primary"/>
		</div>
	</ui:define>

</ui:composition>