<ui:composition
	template="/WEB-INF/templates/layout/applayout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

	<ui:define name="title">Imserso - Sede Electrónica</ui:define>

	<ui:define name="contentTitle">
		<h:outputText value="Gestión de errores" styleClass="code" />
	</ui:define>

	<ui:define name="content">


		<div id="content-wrapper">
			<div class="wrapped ui-helper-clearfix">
				<p:panel id="content2" styleClass="wrapped">

					<p:panelGrid cellpadding="5px" columns="1">
						<h:outputText styleClass="errors"
							value="Ha ocurrido un error inesperado, por favor inténtelo de nuevo" />
					</p:panelGrid>
				</p:panel>

				<p:panel header="Panel exclusivo para modo desarrollo" collapsed="true">
					<p class="error">
						<code>
							<h:outputText
								value="#{requestScope['javax.servlet.error.message']}"
								escape="false" />
						</code>
					</p>

					<p:panelGrid columns="1"
						rendered="#{facesContext.application.projectStage == 'Development'}">

						<h:outputText
							value="Date/time: #{of:formatDate(now, 'yyyy-MM-dd HH:mm:ss')}" />
						<h:outputText value="User agent: #{header['user-agent']}" />
						<h:outputText
							value="User IP: #{empty header['x-forwarded-for'] ? request.remoteAddr : fn:split(header['x-forwarded-for'], ',')[0]}" />
						<h:outputText
							value="Status code: #{requestScope['javax.servlet.error.status_code']}" />
						<h:outputText
							value="Exception type: #{requestScope['javax.servlet.error.exception_type']}" />
						<h:outputText
							value="Exception message: #{requestScope['javax.servlet.error.message']}" />
						<h:outputText value="Stack trace: " />

						<pre>
						<code>#{of:printStackTrace(requestScope['javax.servlet.error.exception'])}</code>
					</pre>

					</p:panelGrid> </p:panel>
			</div>
		</div>

		<h:outputScript
			rendered="#{facesContext.partialViewContext.ajaxRequest}">scrollTo(0, 0);</h:outputScript>

	</ui:define>
</ui:composition>