<ui:composition template="/WEB-INF/templates/errorpage.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
	<ui:define name="contentTitle">Ha saltado una RuntimeException! Hay un BUG en algún sitio!</ui:define>
	<ui:define name="content">
		<ul>
			<li>Date/time: #{of:formatDate(now, 'yyyy-MM-dd HH:mm:ss')}</li>
			<li>User agent: #{header['user-agent']}</li>
			<li>User IP: #{empty header['x-forwarded-for'] ?
				request.remoteAddr : fn:split(header['x-forwarded-for'], ',')[0]}</li>
			<li>Request URI: <a
				href="#{requestScope['javax.servlet.error.request_uri']}">#{requestScope['javax.servlet.error.request_uri']}</a></li>
			<li>Ajax request: #{facesContext.partialViewContext.ajaxRequest
				? 'Yes' : 'No'}</li>
			<li>Status code:
				#{requestScope['javax.servlet.error.status_code']}</li>
			<li>Exception type: <code>#{requestScope['javax.servlet.error.exception_type']}</code></li>
			<li>Exception message: <code>#{requestScope['javax.servlet.error.message']}</code></li>
			<li>Stack trace: <pre>
					<code>#{of:printStackTrace(requestScope['javax.servlet.error.exception'])}</code>
				</pre></li>
		</ul>
	</ui:define>
</ui:composition>