<ui:composition template="/WEB-INF/templates/errorpage.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
>
	<!-- This EL syntax error (a missing '}' ) should trigger a failure of error page rendering. -->
	<ui:define name="errorContent">
		<p><a href="#{requestScope['javax.servlet.error.request_uri']}">Back to initial page.</a></p>
	</ui:define>
</ui:composition>