<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
    xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
    xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
    xmlns:of="http://omnifaces.org/functions">


        <p:fieldset legend="Ficheros adjuntos" style="margin-bottom:20px">
            <p:growl id="msg" />
            <h:panelGrid id="pnlAttach" columns="2" cellpadding="5">

                <p:fileUpload id="attachFile"
                    value="#{templatesBeanName['uploadedFile']}" mode="advanced"
                    fileUploadListener="#{templatesBeanName['fileUploadListener']}"
                    auto="true" multiple="true" cancelLabel="Cancelar"
                    label="Seleccione fichero" uploadLabel="Enviar fichero"
                    allowTypes="/(\.|\/)(gif|jpe?g|png|pdf|doc|xls|xlsx)$/"
                    fileLimit="10" sizeLimit="2048000"
                    invalidSizeMessage="El tamaño del fichero es demasiado grande"
                    invalidFileMessage="Tipo de fichero no válido"
                    fileLimitMessage="No se permite adjuntar más ficheros"
                    update="filesDT" />

                <p:dataTable id="filesDT" var="item"
                    value="#{templatesBeanName['dto']['attachedFiles']}" emptyMessage="">

                    <p:column headerText="nombre fichero">
                        <h:outputText value="#{item.nombreFichero}" />
                    </p:column>

                    <p:column headerText="nombre documento">
                        <h:outputText value="#{item.nombreDocumento}" />
                    </p:column>

                </p:dataTable>

            </h:panelGrid>

        </p:fieldset>

</ui:composition>
