<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">


	<p:fieldset legend="Dirección a efectos de notificación"
		style="margin-bottom:20px">

		<h:outputText
			value="Cumplimentar si la dirección a efectos de notificación no es la misma que la que figura en los datos de la persona solicitante"
			style="font-style:italic; color:grey" />

		<p:panelGrid columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6"
			layout="grid" styleClass="ui-fluid ui-noborder"
			rendered="#{(hasDireccionNotificacion == null ? true : hasDireccionNotificacion)}">

			<p:panelGrid columns="1" columnClasses="ui-grid-col-12">
				<o:outputLabel for="domicilioNotificacion" value="Domicilio" />
				<p:inputText id="domicilioNotificacion" maxlength="40" size="40"
					value="#{templatesBeanName['dto']['direccionNotificacion']['domicilio']}" />
			</p:panelGrid>

			<p:panelGrid columns="1" columnClasses="ui-grid-col-12">
				<o:outputLabel for="localidadNotificacion" value="Localidad" />
				<p:inputText id="localidadNotificacion" maxlength="32" size="32"
					style="text-transform: uppercase"
					value="#{templatesBeanName['dto']['direccionNotificacion']['localidad']}" />
			</p:panelGrid>

		</p:panelGrid>



		<p:panelGrid columns="3"
			columnClasses="ui-grid-col-4,ui-grid-col-4,ui-grid-col-4"
			layout="grid" styleClass="ui-fluid ui-noborder">

			<p:panelGrid columns="1" columnClasses="ui-grid-col-12">
				<o:outputLabel for="codigoPostalNotificacion" value="Código Postal" />
				<p:inputText id="codigoPostalNotificacion" maxlength="5" size="5"
					value="#{templatesBeanName['dto']['direccionNotificacion']['codigoPostal']}" />
			</p:panelGrid>

			<p:panelGrid columns="1" columnClasses="ui-grid-col-12"
				rendered="#{templatesBeanName['paramValues']['isTurismo']()}">
				<p:outputLabel for="@next" value="Provincia" />
				<p:selectOneMenu
					value="#{templatesBeanName['dto']['direccionNotificacion']['selectedProvincia']}"
					converter="simpleDtoConverter">
					<f:selectItem itemLabel="" itemValue="#{null}"
						noSelectionOption="true" />
					<f:selectItems value="#{templatesBeanName[provinciaListName]}"
						var="_var" itemLabel="#{_var.descripcion}" itemValue="#{_var}" />
				</p:selectOneMenu>
			</p:panelGrid>
			<p:panelGrid columns="1" columnClasses="ui-grid-col-12"
				rendered="#{templatesBeanName['paramValues']['isTermalismo']()}">
				<o:outputLabel for="provNotificacionTermId" value="Provincia" />
				<p:selectOneMenu id="provNotificacionTermId"
					value="#{templatesBeanName['provinciaNotificacion']}"
					converter="omnifaces.SelectItemsConverter">
					<f:selectItem itemLabel="" itemValue="#{null}"
						noSelectionOption="true" />
					<f:selectItems value="#{templatesBeanName['listaProvincias']}"
						var="_var" itemLabel="#{_var.descripcion}" itemValue="#{_var}" />
				</p:selectOneMenu>
			</p:panelGrid>
			<p:panelGrid columns="1" columnClasses="ui-grid-col-12"
				rendered="#{!(templatesBeanName['paramValues']['isTurismo']() or templatesBeanName['paramValues']['isTermalismo']())}">
				<o:outputLabel for="provinciaNotificacion" value="Provincia" />
				<p:inputText id="provinciaNotificacion" maxlength="50"
					style="text-transform: uppercase"
					value="#{templatesBeanName['dto']['direccionNotificacion']['provincia']}" />
			</p:panelGrid>

			<p:panelGrid columns="1" columnClasses="ui-grid-col-12"
				rendered="#{!(templatesBeanName['paramValues']['isTurismo']() or templatesBeanName['paramValues']['isTermalismo']()) and (hasDireccionNotificacionPais == null ? true : hasDireccionNotificacionPais)}">
				<o:outputLabel for="paisNotificacion" value="País" />
				<p:inputText id="paisNotificacion" maxlength="50"
					style="text-transform: uppercase"
					value="#{templatesBeanName['dto']['direccionNotificacion']['pais']}" />
			</p:panelGrid>

		</p:panelGrid>

	</p:fieldset>



	<p:fieldset
		legend="Si desea recibir aviso de las notificaciones, indique el medio"
		style="margin-bottom:20px"
		rendered="#{(hasMedioAviso == null ? true : hasMedioAviso)}">

		<p:panelGrid columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6"
			layout="grid" styleClass="ui-fluid ui-noborder"
			rendered="#{(hasMedioAvisoEmail == null ? true : hasMedioAvisoEmail)}">

			<p:panelGrid columns="1" columnClasses="ui-grid-col-12">
				<o:outputLabel for="email" value="Correo Electrónico" />
				<p:inputText id="email" maxlength="50" size="50"
					value="#{templatesBeanName['dto']['medioNotificacion']['email']['direccion']}" />
			</p:panelGrid>

			<p:panelGrid columns="1" columnClasses="ui-grid-col-12">
				<o:outputLabel for="emailConfirmation"
					value="Repita correo electrónico" />
				<p:inputText id="emailConfirmation" maxlength="50" size="50"
					value="#{templatesBeanName['dto']['medioNotificacion']['email']['direccionConfirm']}" />
			</p:panelGrid>

			<p:keyFilter for="email" mask="email" />
			<p:keyFilter for="emailConfirmation" mask="email" />

		</p:panelGrid>

		<p:panelGrid columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6"
			layout="grid" styleClass="ui-fluid ui-noborder"
			rendered="#{(hasMedioAvisoDispositivoElectronico == null ? true : hasMedioAvisoDispositivoElectronico)}">


			<p:panelGrid columns="1" columnClasses="ui-grid-col-12">
				<o:outputLabel for="dispositivoElectronico"
					value="Dispositivo electrónico (nº de móvil)" />
				<p:inputText id="dispositivoElectronico" maxlength="30" size="30"
					value="#{templatesBeanName['dto']['medioNotificacion']['dispositivoElectronico']}" />
			</p:panelGrid>

		</p:panelGrid>

	</p:fieldset>




</ui:composition>
