<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a="http://richfaces.org/a4j">

<h:head>
	<title>#{empty pageTitle ? 'Page Title' : pageTitle}</title>
	<link rel="shortcut icon" href="#{request.contextPath}/img/sede_gestion_logo_peque.jpg" />

</h:head>

<h:body>
	<h:outputStylesheet name="bootstrap.css" />
	<h:outputStylesheet name="forge-style.css" />

	<h:outputStylesheet name="stylesheet/theme.css" target="head" />
	<h:outputStylesheet name="stylesheet/imserso-seam.css" target="head" />
	<h:outputStylesheet name="stylesheet/hermes.css" target="head" />


	<ui:debug
		rendered="#{facesContext.application.projectStage == 'Development'}" />
		
	<!-- Incluir cabecera con logotipo del Imserso, de la aplicación, Desconexión, Temporada y Turno -->
	<ui:include src="cabecera.xhtml" />


	<!-- Menu de la aplicación -->
	<ui:include src="menu.xhtml">
		<ui:param name="projectName" value="sedecdi-gestion" />
	</ui:include>

	<div class="container forgecontainer">
		<div id="navigation">
			<h:link id="homeLink" outcome="/index.xhtml">
				<h:graphicImage value="/img/sede_gestion_logo_grande.jpg" border="0" height="150px" />
			</h:link>
			<br/>
			
		</div>

		<div id="content">
			<h1>
				<ui:insert name="header" />
			</h1>
			<h2>
				<ui:insert name="subheader" />
			</h2>
            <h:form>
            <a:outputPanel id="richmessages">
                <h:messages id="messages" globalOnly="false" styleClass="message"
                    errorClass="errormsg" infoClass="infomsg" warnClass="warnmsg" />
            </a:outputPanel>
        </h:form>
			<!-- Incluir el contenido de la etiqueta body de la pagina que llame a esta página -->
			<ui:insert name="main" />
		</div>
		
		
	</div>
	



</h:body>
</html>
