<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
   <title>sedecdi</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <h:outputStylesheet name="css/screen.css" />
</h:head>
<h:body>
   <div id="container">
      <div class="dualbrand">
         <img src="resources/gfx/rhjb_eap_logo.png" />
      </div>
      <div id="content">
         <ui:insert name="content">
                    [Template content will be inserted here]
         </ui:insert>
      </div>
      <div id="aside">
         <p>Learn more about Red Hat JBoss Enterprise Application Platform.</p>
         <ul>
            <li><a href="https://access.redhat.com/site/documentation/JBoss_Enterprise_Application_Platform/">Documentation</a></li>
            <li><a href="http://www.redhat.com/en/technologies/jboss-middleware/application-platform">Product Information</a></li>
         </ul>
      </div>
      <div id="footer">
         <p>
            This project was generated from a Maven archetype from
            JBoss.<br />
         </p>
      </div>
   </div>
</h:body>
</html>
