<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a="http://richfaces.org/a4j">

	<h:form>

		<!-- Barra horizontal contenedora (de menus, etc) -->
		<rich:toolbar width="990px">
		
			
		
		
			<!-- Agrupación a la izquierda de los elementos de la barra -->
			<rich:toolbarGroup location="left">
				<!-- INICIO -->
				<rich:dropDownMenu rendered="#{usuarioUtil.hasRole('SEDE_ADMINISTRADOR') or usuarioUtil.hasRole('SEDE_GESTOR')}">
					<f:facet name="label">
						<h:panelGroup>Inicio</h:panelGroup>
					</f:facet>
					<rich:menuItem label="Inicio"
						action="#{menuAction.abrirPagina('home')}" />
				</rich:dropDownMenu>
			</rich:toolbarGroup>


			<!-- Documentos -->
			<rich:toolbarGroup label="Documentos" location="left">

				<rich:dropDownMenu rendered="#{usuarioUtil.hasRole('SEDE_ADMINISTRADOR')}">
					<f:facet name="label">
						<h:panelGroup>Tablas auxiliares</h:panelGroup>
					</f:facet>


					<rich:menuItem label="Usuarios"
						action="#{menuAction.abrirPagina('usuarioSearch')}">
					</rich:menuItem>
					
					<rich:menuItem label="Trámite"
						action="#{menuAction.abrirPagina('tramiteSearch')}">
					</rich:menuItem>
					
					<rich:menuItem label="Plantilla justificante"
						action="#{menuAction.abrirPagina('justificanteSearch')}">
					</rich:menuItem>

					<rich:menuItem label="Plantilla solicitud"
						action="#{menuAction.abrirPagina('solicitudPdfSearch')}">
					</rich:menuItem>
					
					<rich:menuItem label="Plantilla email"
						action="#{menuAction.abrirPagina('plantillaEmailSearch')}">
					</rich:menuItem>					

					<rich:menuItem label="Idioma"
						action="#{menuAction.abrirPagina('idiomaSearch')}">
					</rich:menuItem>

					</rich:dropDownMenu>
			</rich:toolbarGroup>
					
            <rich:toolbarGroup location="left">
            
                <rich:dropDownMenu rendered="#{usuarioUtil.hasRole('SEDE_GESTOR') or usuarioUtil.hasRole('SEDE_ADMINISTRADOR')}">
                    <f:facet name="label">
                        <h:panelGroup>Solicitudes</h:panelGroup>
                    </f:facet>
            
                    <rich:menuItem label="Edición"
                         action="#{menuAction.abrirPagina('solicitudSearch')}"/>
                </rich:dropDownMenu>
            </rich:toolbarGroup>

            <rich:toolbarGroup location="left">
            
                <rich:dropDownMenu rendered="#{usuarioUtil.hasRole('SEDE_ADMINISTRADOR') or usuarioUtil.hasRole('SEDE_PLANIFICADOR')}">
                    <f:facet name="label">
                        <h:panelGroup>Termalismo</h:panelGroup>
                    </f:facet>
            
                    <rich:menuItem label="Remesa descarga solicitudes"
                         action="#{menuAction.abrirPagina('remesaSolicitudesTermalismo')}"/>
                </rich:dropDownMenu>
            </rich:toolbarGroup>
		

		</rich:toolbar>

	</h:form>
</ui:composition>