<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<f:view contentType="text/html" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

	<html>
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=11,IE=10,IE=9,IE=8,IE=7" />
	<title>Sede gestion</title>

	<!-- Icono utilizado en la parte de la URL -->
	<link rel="shortcut icon" href="#{request.contextPath}/img/sede_gestion_logo_peque.jpg" />

	<!-- scripts -->
	<h:outputScript name="js/imserso-commons.js" />
	<h:outputScript name="js/focusOnLoad.js" />

</h:head>


<h:body>
	<!-- hojas de estilo -->
	<h:outputStylesheet name="stylesheet/theme.css" target="head" />
	<h:outputStylesheet name="stylesheet/imserso-seam.css" target="head" />
	<h:outputStylesheet name="stylesheet/hermes.css" target="head" />


	<!-- Incluir cabecera con logotipo del Imserso, de la aplicación, Desconexión, Temporada y Turno -->
	<ui:include src="cabecera.xhtml" />


	<!-- Menu de la aplicación -->
	<ui:include src="menu.xhtml">
		<ui:param name="projectName" value="sedecdi-gestion" />
	</ui:include>


	<div class="body">

		<h:form>
			<a:outputPanel id="richmessages">
				<h:messages id="messages" globalOnly="false" styleClass="message"
					errorClass="errormsg" infoClass="infomsg" warnClass="warnmsg" />
			</a:outputPanel>
		</h:form>

		<!-- Status por defecto al no tener name en las peticiones ajax -->
		<a:status id="mainStatus" startStyleClass="capaAjax_Start"
			forceId="true">
			<f:facet name="start">
				<h:panelGrid
					style="height: 100%; width: 100%; vertical-align: middle; text-align: center;">
					<h:graphicImage title="Espere un momento, por favor..."
						value="/img/spinner4.gif" />
				</h:panelGrid>
			</f:facet>
		</a:status>

		<a:status id="noneStatus" name="noneStatus" forceId="true">
		</a:status>

		<!-- Incluir el contenido de la etiqueta body de la pagina que llame a esta página -->
		<ui:insert name="body" />

	</div>

</h:body>
	</html>

</f:view>
