<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich"
	template="/WEB-INF/templates/template.xhtml">

	<ui:define name="body">

		<h:form id="formHome">

			<rich:panel id="panel01" style="height: auto;">
				<f:facet name="header">Inicio</f:facet>

				<div id="divImage" align="center">
					<br />
					<br />
					<h:graphicImage value="/img/sede_gestion_logo_grande.jpg" height="300px"
						alt="Logotipo de la aplicación" />
					<br />
					<br />								
				</div>

			</rich:panel>
		</h:form>
	</ui:define>
</ui:composition>
