<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:h="http://java.sun.com/jsf/html"
   template="/WEB-INF/templates/default.xhtml">
   <ui:define name="content">
      <h1>Gestión de la sede electrónica</h1>

      <div>
         <p>You have successfully deployed a Java EE Enterprise Application.</p>
      </div>

      <h:form id="reg">
         <h2>Ambito Registration</h2>
         <p>Enforces annotation-based constraints defined on the model class.</p>
         <h:panelGrid columns="3" columnClasses="titleCell">
            <h:outputLabel for="descripcion" value="Descripcion:"/>
            <h:inputText id="descripcion" value="#{newAmbito.descripcion}" />
            <h:message for="descripcion" errorClass="invalid"/>

            <h:outputLabel for="orden" value="Orden:"/>
            <h:inputText id="orden" value="#{newAmbito.orden}"/>
            <h:message for="orden" errorClass="invalid"/>

         </h:panelGrid>

         <p>
            <h:panelGrid columns="2">
               <h:commandButton id="register" action="#{ambitoController.register}" value="Register" styleClass="register"/>
               <h:messages styleClass="messages" errorClass="invalid" infoClass="valid" warnClass="warning"
                           globalOnly="true"/>
            </h:panelGrid>
         </p>
      </h:form>
      <h2>Ambitos</h2>
      <h:panelGroup rendered="#{empty ambitos}">
         <em>No registered members.</em>
      </h:panelGroup>
      <h:dataTable var="_ambito" value="#{ambitos}" rendered="#{not empty ambitos}" styleClass="simpletablestyle">
         <h:column>
            <f:facet name="header">Id</f:facet>
                #{_ambito.id}
            </h:column>
         <h:column>
            <f:facet name="header">Descripcion</f:facet>
                #{_ambito.descripcion}
            </h:column>
         <h:column>
            <f:facet name="header">Orden</f:facet>
                #{_ambito.orden}
            </h:column>
         <h:column>
            <f:facet name="header">REST URL</f:facet>
            <a href="#{request.contextPath}/rest/members/#{_member.id}">/rest/members/#{_member.id}</a>
         </h:column>
         <f:facet name="footer">
            REST URL for all members: <a href="#{request.contextPath}/rest/members">/rest/members</a>
         </f:facet>
      </h:dataTable>
   </ui:define>
</ui:composition>
