<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:forgeview="http://jboss.org/forge/view"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{historicoEstadoSolicitudBean.id}'/>
		<f:event type="preRenderView" listener='#{historicoEstadoSolicitudBean.retrieve}'/>
	</f:metadata>

	<ui:param name="pageTitle" value="Create Historico Estado Solicitud"/>

	<ui:define name="header">
		Historico Estado Solicitud
	</ui:define>

	<ui:define name="subheader">
		<c:choose>
			<c:when test='#{!empty historicoEstadoSolicitudBean.id}'>
				Editar Historico Estado Solicitud
			</c:when>
			<c:otherwise>
				Crear Historico Estado Solicitud
			</c:otherwise>
		</c:choose>
	</ui:define>

	<ui:define name="footer"/>

	<ui:define name="main">
		<h:form id="create">
			<h:messages globalOnly="true" styleClass="error"/>

			<h:panelGrid columnClasses="label,component,required" columns="3">
				<h:outputLabel for="historicoEstadoSolicitudBeanHistoricoEstadoSolicitudUsuario" value="Usuario:"/>
				<h:panelGroup>
					<h:inputText id="historicoEstadoSolicitudBeanHistoricoEstadoSolicitudUsuario" required="true" value="#{historicoEstadoSolicitudBean.historicoEstadoSolicitud.usuario}"/>
					<h:message for="historicoEstadoSolicitudBeanHistoricoEstadoSolicitudUsuario" styleClass="error"/>
				</h:panelGroup>
				<h:outputText value="*"/>
				<h:outputLabel for="historicoEstadoSolicitudBeanHistoricoEstadoSolicitudSolicitud" value="Solicitud:"/>
				<h:panelGroup>
					<h:selectOneMenu converter="#{solicitudBean.converter}" id="historicoEstadoSolicitudBeanHistoricoEstadoSolicitudSolicitud" required="true" value="#{historicoEstadoSolicitudBean.historicoEstadoSolicitud.solicitud}">
						<f:selectItems itemLabel="#{forgeview:display(_item)}" itemValue="#{_item}" value="#{solicitudBean.all}" var="_item"/>
					</h:selectOneMenu>
					<h:message for="historicoEstadoSolicitudBeanHistoricoEstadoSolicitudSolicitud" styleClass="error"/>
				</h:panelGroup>
				<h:outputText value="*"/>
				<h:outputLabel for="historicoEstadoSolicitudBeanHistoricoEstadoSolicitudFechaModificacion" value="Fecha Modificacion:"/>
				<h:panelGroup>
					<h:inputText id="historicoEstadoSolicitudBeanHistoricoEstadoSolicitudFechaModificacion" required="true" value="#{historicoEstadoSolicitudBean.historicoEstadoSolicitud.fechaModificacion}">
						<f:convertDateTime pattern="MMM d, yyyy hh:mm:ss a" type="both"/>
					</h:inputText>
					<h:message for="historicoEstadoSolicitudBeanHistoricoEstadoSolicitudFechaModificacion" styleClass="error"/>
				</h:panelGroup>
				<h:outputText value="*"/>
				<h:outputLabel for="historicoEstadoSolicitudBeanHistoricoEstadoSolicitudEstado" value="Estado:"/>
				<h:panelGroup>
					<h:selectOneMenu id="historicoEstadoSolicitudBeanHistoricoEstadoSolicitudEstado" required="true" value="#{historicoEstadoSolicitudBean.historicoEstadoSolicitud.estado}">
						<f:selectItem itemValue="PENDIENTE"/>
						<f:selectItem itemValue="APROBADA"/>
						<f:selectItem itemValue="RECHAZADA"/>
						<f:selectItem itemValue="CANCELADA"/>
						<f:selectItem itemValue="TRAMITANDOSE"/>
						<f:selectItem itemValue="GESTIONADO_POR_APLICACION"/>
					</h:selectOneMenu>
					<h:message for="historicoEstadoSolicitudBeanHistoricoEstadoSolicitudEstado" styleClass="error"/>
				</h:panelGroup>
				<h:outputText value="*"/>
			</h:panelGrid>

			<div class="buttons">
				<h:commandLink value="Grabar" action='#{historicoEstadoSolicitudBean.update}' styleClass="btn btn-primary"/>
				<c:choose>
					<c:when test='#{!empty historicoEstadoSolicitudBean.id}'>
						<h:link value="Cancelar" outcome="view" styleClass="btn btn-primary">
							<f:param name="id" value='#{historicoEstadoSolicitudBean.id}'/>
						</h:link>
						<h:commandLink value="Borrar" action='#{historicoEstadoSolicitudBean.delete}' styleClass="btn btn-primary"/>
					</c:when>
					<c:otherwise>
						<h:link value="Cancelar" outcome="search" styleClass="btn btn-primary"/>
					</c:otherwise>
				</c:choose>
			</div>
		</h:form>
	</ui:define>

</ui:composition>