<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

	<p:outputPanel autoUpdate="true">

		<p:panel header="${header1}">

			<p:commandButton icon="ui-icon-plusthick" label="detalle"
				oncomplete="PF('addDialog').show()" title="añadir prestación">
				<f:setPropertyActionListener value="#{personaDeclarante}"
					target="#{beanName['selectedPersonaDeclarante']}" />
			</p:commandButton>

			<p:dataTable
				value="#{beanName['dto']['datosEconomicos'][datosEconomicosPersona]}"
				var="_pension" id="#{dataTableId}" emptyMessage="">

				<p:column headerText="Clase de prestación">
					<h:outputText value="#{_pension.tipoPension.descripcion}" />
				</p:column>

				<p:column headerText="Cuantía Mensual">
					<h:outputText value="#{_pension.importe}">
						<f:convertNumber currencySymbol="€" currencyCode="EUR"
							type="currency" />
					</h:outputText>
				</p:column>

			</p:dataTable>

		</p:panel>

	</p:outputPanel>




	<p:dialog id="${addDialogId}" header="Datos de la pensión"
		widgetVar="addDialog" modal="true" showEffect="fade" hideEffect="fade"
		resizable="false">

		<p:outputPanel autoUpdate="true">

			<o:messages />

			<p:panelGrid columns="3"
				columnClasses="ui-grid-col-5,ui-grid-col-5,ui-grid-col-2"
				layout="grid" styleClass="ui-fluid ui-noborder">

				<f:facet name="header">
					<h:outputLabel value="#{header2}" />
				</f:facet>

				<p:panelGrid columns="1" columnClasses="ui-grid-col-12">
					<p:outputLabel for="@next" value="Clase de prestación"
						style="font-weight:bold" />
					<p:selectOneMenu value="#{beanName[datoEconomico]['tipoPension']}"
						converter="omnifaces.SelectItemsConverter">
						<f:selectItem itemLabel="" itemValue="#{null}"
							noSelectionOption="true" />
						<f:selectItems value="#{beanName['listaTiposPensiones']}" var="_var"
							itemLabel="#{_var.descripcion}" itemValue="#{_var}" />
					</p:selectOneMenu>
				</p:panelGrid>

				<p:panelGrid columns="1" columnClasses="ui-grid-col-12">
					<p:outputLabel for="@next" value="Mensualidad"
						style="font-weight:bold" />
					<p:inputNumber maxlength="20" size="25"
						value="#{beanName[datoEconomico]['importe']}" symbol="€"
						symbolPosition="s" emptyValue="empty" minValue="0"
						maxValue="10000" />
				</p:panelGrid>

			</p:panelGrid>



			<p:panelGrid columns="2" layout="grid"
				styleClass="ui-fluid ui-noborder">

				<p:commandButton value="Cerrar" onclick="PF('addDialog').hide()" />

				<p:commandButton value="Añadir." update="@parent"
					actionListener="#{beanName[addMethod]()}"
					oncomplete="PF('addDialog').hide()" />

			</p:panelGrid>



		</p:outputPanel>

		<p:separator />


	</p:dialog>





</ui:composition>