<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">


   

        <p:panelGrid columns="1" columnClasses="ui-grid-col-12" layout="grid"
            styleClass="ui-fluid ui-noborder">

            <h:outputText
                value="Puede señalar hasta cuatro meses o bien indicar 'CUALQUIERA'. Igualmente puede combinar meses concretos y como última opción 'CUALQUIERA'"
                style="font-style:italic; color:grey" />

        </p:panelGrid>

	    <p:outputPanel autoUpdate="true">

		<p:panel header="Turnos solicitados">

            <p:commandButton icon="ui-icon-plusthick" label="detalle" rendered="#{termalismoView.dto.listaTurnos.size()!=4 and !termalismoView.dto.listaTurnos.contains(termalismoView.turnoDefecto)}"           
                oncomplete="PF('addDialogTurno').show()" title="añadir turno">               
            </p:commandButton>
			
			<p:dataTable
				value="#{termalismoView.dto.listaTurnos}"
				var="_turno" id="tableTurno" emptyMessage="">

				<p:column headerText="Turno">
					<h:outputText value="#{_turno.descripcion}" />
				</p:column>

			</p:dataTable>

		</p:panel>

	</p:outputPanel>




	<p:dialog id="dialogTurno" header="Seleccione turno"
		widgetVar="addDialogTurno" modal="true" showEffect="fade" hideEffect="fade"
		resizable="false">

		<p:outputPanel autoUpdate="true">

			<o:messages />

			<p:panelGrid columns="3"
				columnClasses="ui-grid-col-5,ui-grid-col-5,ui-grid-col-2"
				layout="grid" styleClass="ui-fluid ui-noborder">


				<p:panelGrid columns="1" columnClasses="ui-grid-col-12">
				<p:outputLabel for="@next" value="Turno"
                        style="font-weight:bold" />
					<p:selectOneMenu  value="#{termalismoView.tipoTurno}"
                    label="Turno" style="width:230px" id="turnoId"
                    panelStyle="width:250px" converter="omnifaces.SelectItemsConverter">
                    <f:selectItem itemLabel="#{termalismoView.turnoDefecto.descripcion}" itemValue="#{termalismoView.turnoDefecto}" />
                    <f:selectItems
                        value="#{termalismoView.listaTiposTurno}"
                        var="turno" itemLabel="#{turno.descripcion}" />
                            
                </p:selectOneMenu>
				</p:panelGrid>

			</p:panelGrid>



			<p:panelGrid columns="2" layout="grid"
				styleClass="ui-fluid ui-noborder">

				<p:commandButton value="Cerrar" onclick="PF('addDialogTurno').hide()" />

				<p:commandButton value="Añadir." update="@parent"
					actionListener="#{termalismoView.addTurno()}"
					oncomplete="PF('addDialogTurno').hide()" />

			</p:panelGrid>



		</p:outputPanel>

		<p:separator />


	</p:dialog>


  


</ui:composition>