<ui:composition
	template="/WEB-INF/templates/layout/createMultipartLayout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

	<ui:define name="title">Imserso - Sede Electrónica</ui:define>

	<ui:define name="contentTitle">
		<h:outputText value="Alta de Solicitud de Termalismo" styleClass="code" />
	</ui:define>

	<ui:define name="multipartForm">
	
	  
	
	
     <!-- solicitante -->

        <ui:include src="/WEB-INF/templates/layout/personaLayout.xhtml">
            <ui:param name="legend" value="Datos de la persona interesada" />
            <ui:param name="templatesBeanName" value="#{termalismoView}" />
            <ui:param name="persona" value="solicitante" />
            <ui:param name="disabledMainFields"
                value="#{termalismoView.disabledSolicitanteMainFields}" />
            <ui:param name="provinciaListName" value="listaProvincias" />
            <ui:param name="hasPais" value="#{false}" />
            <ui:param name="hasEmail" value="#{false}" />
        </ui:include>
    
    
        <!-- cónyuge -->

        <ui:include src="/WEB-INF/templates/layout/personaLayout.xhtml">
            <ui:param name="legend" value="Datos del cónyuge o pareja de hecho" />
            <ui:param name="templatesBeanName" value="#{termalismoView}" />
            <ui:param name="persona" value="conyuge" />
            <ui:param name="disabledMainFields" value="#{false}" />
            <ui:param name="hasEstadoCivil" value="#{false}" />
            <ui:param name="hasSexo" value="#{true}" />
            <ui:param name="hasAddress" value="#{false}" />
            <ui:param name="hasContactData" value="#{false}" />
        </ui:include>
    
    
        <ui:include src="/WEB-INF/templates/notificacion.xhtml">
            <ui:param name="templatesBeanName" value="#{termalismoView}" />     
            <ui:param name="hasDireccionNotificacionPais" value="#{false}" />    
        </ui:include>

        <ui:include
            src="/WEB-INF/templates/appgestora/termalismo/familiaNumerosa.xhtml" >
             <ui:param name="templatesBeanName" value="#{termalismoView}" />     
        </ui:include>
  
	
   
	
		  <!-- vinculada -->

        <ui:include
            src="/WEB-INF/templates/appgestora/termalismo/vinculada.xhtml" >
            <ui:param name="templatesBeanName" value="#{termalismoView}" />
        </ui:include>
		
		
        <!-- declaración económica -->

        <ui:include
            src="/WEB-INF/templates/appgestora/termalismo/declaracionEconomica.xhtml" >
            <ui:param name="templatesBeanName" value="#{termalismoView}" />
        </ui:include>
        
        
       
  

		<p:fieldset legend="Balnearios" style="margin-bottom:20px">

            <ui:include
                src="/WEB-INF/templates/appgestora/termalismo/balneario.xhtml" >         
            </ui:include>
        
        
			<h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
				<p:outputLabel for="solicitantes" />
				<p:selectOneRadio id="solicitantes"
					value="#{termalismoView.quienSolicita}">
					<f:selectItem itemLabel="Solo para el solicitante" itemValue="A" />
					<f:selectItem itemLabel="Solo para el cónyuge o pareja de hecho"
						itemValue="B" />
					<f:selectItem itemLabel="Para ambos cónyuges" itemValue="C" />
					<p:ajax event="change" process="@form" update="@form"/>
					<!-- update="pensionesCon declaracionCon1 declaracionCon2 declaracionCon3 declaracionCon4 declaracionCon5 datosCon1 datosCon2 declaracionSol"  /> -->
					  
				</p:selectOneRadio>
			</h:panelGrid>

			     <ui:include
            src="/WEB-INF/templates/appgestora/termalismo/turno.xhtml" >
            <ui:param name="templatesBeanName" value="#{termalismoView}" />
        </ui:include>


			<h:panelGrid columns="2" style="margin-bottom:10px" cellpadding="5">
				<p:outputLabel for="duracionTurno" />
				<p:selectOneRadio id="duracionTurno"
					value="#{termalismoView.duracionTurno}">
					<f:selectItem itemLabel="Turno de 12 días de duración"
						itemValue="B" />
					<f:selectItem itemLabel="Turno de 10 días de duración"
						itemValue="A" />
					<f:selectItem itemLabel="Sin preferencia en la duración"
						itemValue="Z" />
				</p:selectOneRadio>
			</h:panelGrid>



		</p:fieldset>












		<p:fieldset
			legend="DECLARACIÓN RESPONSABLE DEL SOLICITANTE DE LA PLAZA"
			style="margin-bottom:20px">
			<p:panelGrid columns="1" layout="grid" id="declaracionSol">
				<h:outputText value="Declaro responsablemente:"
					style="font-weight: bold" />
				<p:panelGrid columns="3" layout="grid" 
					styleClass="ui-fluid ui-noborder">
					<o:outputLabel for="declaro1" value="QUE *" />
					<p:selectOneMenu id="declaro1" disabled="#{termalismoView.quienSolicita=='' || termalismoView.quienSolicita=='B'}"
						value="#{termalismoView.dto.treqSol1}" style="width:75px">
						<f:selectItem itemLabel="Sí" itemValue="Sí" />
						<f:selectItem itemLabel="No" itemValue="No" />
					</p:selectOneMenu>
					<p:outputLabel
						value="me valgo por mi mismo para las actividades de la vida diaria"
						style="width:125px" />

					<o:outputLabel for="declaro2" value="QUE *" />
					<p:selectOneMenu id="declaro2" disabled="#{termalismoView.quienSolicita=='' || termalismoView.quienSolicita=='B'}"
						value="#{termalismoView.dto.treqSol2}" style="width:75px">
						<f:selectItem itemLabel="Sí" itemValue="Sí" />
						<f:selectItem itemLabel="No" itemValue="No" />
					</p:selectOneMenu>
					<p:outputLabel
						value="presento alteraciones que impidan la convivencia en un Centro Residencial"
						style="width:125px" />

					<o:outputLabel for="declaro3" value="QUE *" />
					<p:selectOneMenu id="declaro3" disabled="#{termalismoView.quienSolicita=='' || termalismoView.quienSolicita=='B'}"
						value="#{termalismoView.dto.treqSol3}" style="width:75px">
						<f:selectItem itemLabel="Sí" itemValue="Sí" />
						<f:selectItem itemLabel="No" itemValue="No" />
					</p:selectOneMenu>
					<p:outputLabel value="padezco enfermedad infecto contagiosa"
						style="width:125px" />
				</p:panelGrid>

				<p:panelGrid columns="2" layout="grid"
					styleClass="ui-fluid ui-noborder">
					<o:outputLabel for="enfermedad" value="Indique enfermedad *" />
					<p:inputText id="enfermedad" style="text-transform: uppercase"
					    disabled="#{termalismoView.quienSolicita=='' || termalismoView.quienSolicita=='B'}"
						value="#{termalismoView.dto.enfermedad1}"></p:inputText>
				</p:panelGrid>
				<p:panelGrid columns="1" layout="grid"
					styleClass="ui-fluid ui-noborder">
					<h:outputText
						value="Que deseo acudir al balneario para recibir tratamiento: (se pueden seleccionar hasta dos tipos de tratamiento)" />
					<p:selectManyCheckbox id="basic"
						value="#{termalismoView.selectedTratamientosSolicitante}"
						disabled="#{termalismoView.quienSolicita=='' || termalismoView.quienSolicita=='B'}">
						<f:selectItem itemLabel="a) Reumatológico" itemValue="A"
							itemDisabled="true" />
						<!-- se mantiene activo pq se considera un tratamiento fijo -->
						<f:selectItem itemLabel="b) Respiratorio" itemValue="B" />
						<f:selectItem itemLabel="c) Digestivo" itemValue="C" />
						<f:selectItem itemLabel="d) Renal y vías urinarias" itemValue="D" />
						<f:selectItem itemLabel="e) Dermatológico" itemValue="E" />
						<f:selectItem itemLabel="f) Neuropsíquico" itemValue="F" />
						<p:ajax event="change" update="custom consec numrecaidas" process="@this" listener="#{termalismoView.controlTratamientoSolicitante}"/>									
					</p:selectManyCheckbox>
				</p:panelGrid>
			</p:panelGrid>
			<p:separator style="visibility: hidden" />
			<p:panelGrid columns="1" layout="grid">
				<h:outputText value="Que tengo afectadas las articulaciones:"
					style="font-weight: bold" />
				<p:selectManyCheckbox id="artics"
				    disabled="#{termalismoView.quienSolicita=='' || termalismoView.quienSolicita=='B'}"
					value="#{termalismoView.selectedArticAfectadasSolicitante}">
					<f:selectItem itemLabel="a) Cadera o rodilla" itemValue="A" />
					<f:selectItem itemLabel="b) Columna" itemValue="B" />
					<f:selectItem itemLabel="c) Hombro" itemValue="C" />
					<f:selectItem itemLabel="d) Muñeca o mano" itemValue="D" />
					<f:selectItem itemLabel="e) Codo" itemValue="E" />
					<f:selectItem itemLabel="f) Tobillo o pie" itemValue="F" />
				</p:selectManyCheckbox>
				<h:outputText value="Que tengo o padezco:"
                    style="font-weight: bold" />
                <p:selectManyCheckbox id="padezco"
                    disabled="#{termalismoView.quienSolicita=='' || termalismoView.quienSolicita=='B'}"
                    value="#{termalismoView.selectedTengoPadezcoSolicitante}">
                    <f:selectItem itemLabel="a) Dificultades para moverme" itemValue="A" />
                    <f:selectItem itemLabel="b) Dolor" itemValue="B" />
                    <f:selectItem itemLabel="c) Deformidad" itemValue="C" />
                    <f:selectItem itemLabel="d) Rigidez" itemValue="D" />
                </p:selectManyCheckbox>
			</p:panelGrid>
			
            
			<p:separator style="visibility: hidden" />
			<p:panelGrid columns="1" layout="grid">
				<h:outputText
					value="Cumplimentar si se ha señalado que acude al balneario a recibir tratamiento respiratorio"
					style="font-weight: bold" />
				<h:outputText value="Que padezco enfermedades de:"
					style="font-weight: bold" />



				<p:panelGrid styleClass="ui-fluid ui-noborder" style="width:100%" >
					<p:row>
						<p:column style="width:120px">
							<p:selectManyCheckbox id="custom"
								value="#{termalismoView.selectedViasSolicitante}"
								disabled="#{termalismoView.quienSolicita=='' || termalismoView.quienSolicita=='B' 
								|| !termalismoView.selectedTratamientosSolicitante.contains('B')}">
								<f:selectItem
									itemLabel="a) Vías respiratorias altas (faringitis, sinusitis, etc.)"
									itemValue="A" />
								<f:selectItem
									itemLabel="b) Vías respiratorias bajas (bronquitis, EPOC, etc.)"
									itemValue="B" />
							</p:selectManyCheckbox>
						</p:column>
						<p:column style="width:10px">
							<p:inputText id="numrecaidas" disabled="#{termalismoView.quienSolicita=='' || termalismoView.quienSolicita=='B' 
							|| !termalismoView.selectedTratamientosSolicitante.contains('B')}"/>
						</p:column>
						<p:column style="width:90px">
							<p:outputLabel
								value="Número de recaídas en los últimos doce meses" />
						</p:column>
					</p:row>
				</p:panelGrid>

				<h:outputText value="Que, por estos problemas respiratorios, tengo:"
					style="font-weight: bold" />

				<p:selectManyCheckbox id="consec" 
					value="#{termalismoView.selectedConsecuenciasSolicitante}"
					disabled="#{termalismoView.quienSolicita=='' || termalismoView.quienSolicita=='B' 
                            || !termalismoView.selectedTratamientosSolicitante.contains('B')}">
					<f:selectItem
						itemLabel="a) Ingresos en el hospital en el último año"
						itemValue="A" />
					<f:selectItem
						itemLabel="b) que tomar más de dos medicamentos diariamente"
						itemValue="B" />
					<f:selectItem itemLabel="c) muchos síntomas" itemValue="C" />
					<f:selectItem itemLabel="d) que tomar oxígeno diariamente"
						itemValue="D" />
				</p:selectManyCheckbox>

			</p:panelGrid>
			
            <p:separator style="visibility: hidden" />
            <p:panelGrid columns="1" layout="grid">
                 <h:outputText
                  value="Cumplimentar si se ha señalado que acude al balneario a recibir tratamiento digestivo, renal y vías urinarias, dermatológico y neuropsíquico"
                  style="font-weight: bold" />
            
                <p:panelGrid columns="2" layout="grid"
                    styleClass="ui-fluid ui-noborder">
                    <h:outputText 
                        value="Indicar el número de recaídas que ha tenido en los últimos doce meses"/>
                    <h:inputText value="#{termalismoView.dto.cdef1}" id="recaidasNoRespSol" disabled="#{termalismoView.quienSolicita=='' || termalismoView.quienSolicita=='B'}"/>                        
                 </p:panelGrid>
            </p:panelGrid>                 
			
			<p:separator style="visibility: hidden" />
			<p:panelGrid columns="1" layout="grid">
				<p:panelGrid columns="1" layout="grid"
					styleClass="ui-fluid ui-noborder">
					<h:outputText
						value="DECLARO bajo mi responsabilidad que son ciertos los datos que consigno en la presente solicitud, manifestando que quedo"
						style="font-weight: bold" />
					<h:outputText
						value="enterado/a de la obligación de comunicar al Imserso cualquier variación que de los mismos pudiera producirse en lo sucesivo."
						style="font-weight: bold" />
					<h:outputText
						value="ACEPTO que, de acuerdo con el artículo 28.2 de la Ley 39/2015, de 1 de octubre, del Procedimiento Administrativo Común de las"
						style="font-weight: bold" />
					<h:outputText
						value="Administraciones Públicas, el Imserso consulte los datos consignados en esta solicitud y recabe aquellos documentos que sean"
						style="font-weight: bold" />
					<h:outputText
						value="precisos para su resolución, a treavés de sus redes corporativas o mediante consulta a las plataformas de intermediación de datos u"
						style="font-weight: bold" />
					<h:outputText
						value="otros sistemas electrónicos habilitados al efecto"
						style="font-weight: bold" />
				</p:panelGrid>
				<p:separator style="visibility: hidden" />
				<p:panelGrid columns="3" layout="grid"
					styleClass="ui-fluid ui-noborder">
					<h:outputText
						value="En caso de no autorizar estas consultas marque la siguiente casilla"
						style="font-weight: bold" />
					<p:selectBooleanCheckbox value="#{termalismoView.dto.autorizaSol}" />
					<h:outputText
						value="y, en este caso, deberá aportar, junto a esta solicitud,"
						style="font-weight: bold" />
				</p:panelGrid>
				<p:panelGrid columns="1" layout="grid"
					styleClass="ui-fluid ui-noborder">
					<h:outputText
						value="la documentación que se detalla en las instrucciones"
						style="font-weight: bold" />
				</p:panelGrid>
			</p:panelGrid>

		</p:fieldset>










		<p:fieldset legend="DECLARACIÓN RESPONSABLE DEL CONYUGE DE LA PLAZA"
			style="margin-bottom:20px">
			
			
			
			<p:panelGrid columns="1" layout="grid" id="declaracionCon1">
				<h:outputText value="Declaro responsablemente:"
					style="font-weight: bold" />
				<p:panelGrid columns="3" layout="grid"
					styleClass="ui-fluid ui-noborder">
					<o:outputLabel for="declaro1Con" value="QUE *" />
					<p:selectOneMenu id="declaro1Con"
						value="#{termalismoView.dto.treqCon1}" style="width:75px"
						disabled="#{termalismoView.quienSolicita=='' || termalismoView.quienSolicita=='A'}">
						<f:selectItem itemLabel="Sí" itemValue="Sí" />
						<f:selectItem itemLabel="No" itemValue="No" />
					</p:selectOneMenu>
					<p:outputLabel
						value="me valgo por mi mismo para las actividades de la vida diaria"
						style="width:125px" />

					<o:outputLabel for="declaro2Con" value="QUE *" />
					<p:selectOneMenu id="declaro2Con"
						value="#{termalismoView.dto.treqCon2}" style="width:75px"
						disabled="#{termalismoView.quienSolicita=='' || termalismoView.quienSolicita=='A'}">
						<f:selectItem itemLabel="Sí" itemValue="Sí" />
						<f:selectItem itemLabel="No" itemValue="No" />
					</p:selectOneMenu>
					<p:outputLabel
						value="presento alteraciones que impidan la convivencia en un Centro Residencial"
						style="width:125px" />

					<o:outputLabel for="declaro3Con" value="QUE *" />
					<p:selectOneMenu id="declaro3Con"
						value="#{termalismoView.dto.treqCon3}" style="width:75px"
						disabled="#{termalismoView.quienSolicita=='' || termalismoView.quienSolicita=='A'}">
						<f:selectItem itemLabel="Sí" itemValue="Sí" />
						<f:selectItem itemLabel="No" itemValue="No" />
					</p:selectOneMenu>
					<p:outputLabel value="padezco enfermedad infecto contagiosa"
						style="width:125px" />
				</p:panelGrid>

				<p:panelGrid columns="2" layout="grid"
					styleClass="ui-fluid ui-noborder">
					<o:outputLabel for="enfermedadCon" value="Indique enfermedad *" />
					<p:inputText id="enfermedadCon"
						value="#{termalismoView.dto.enfermedad2}" style="text-transform: uppercase"
						disabled="#{termalismoView.quienSolicita=='' || termalismoView.quienSolicita=='A'}"></p:inputText>
				</p:panelGrid>
				<p:panelGrid columns="1" layout="grid"
					styleClass="ui-fluid ui-noborder">
					<h:outputText
						value="Que deseo acudir al balneario para recibir tratamiento: (se pueden seleccionar hasta dos tipos de tratamiento)" />
					<p:selectManyCheckbox id="basicCon"
						value="#{termalismoView.selectedTratamientosConyuge}"
						disabled="#{termalismoView.quienSolicita=='' || termalismoView.quienSolicita=='A'}">
						<f:selectItem itemLabel="a) Reumatológico" itemValue="A"
							itemDisabled="true" />
						<!-- se mantiene activo pq se considera un tratamiento fijo -->
						<f:selectItem itemLabel="b) Respiratorio" itemValue="B" />
						<f:selectItem itemLabel="c) Digestivo" itemValue="C" />
						<f:selectItem itemLabel="d) Renal y vías urinarias" itemValue="D" />
						<f:selectItem itemLabel="e) Dermatológico" itemValue="E" />
						<f:selectItem itemLabel="f) Neuropsíquico" itemValue="F" />
                        <p:ajax event="change" update="customCon consecCon" process="@this" listener="#{termalismoView.controlTratamientoConyuge}"/>     
					</p:selectManyCheckbox>
				</p:panelGrid>
			</p:panelGrid>
			<p:separator style="visibility: hidden" />
			<p:panelGrid columns="1" layout="grid" id="declaracionCon2">
				<h:outputText value="Que tengo afectadas las articulaciones:"
					style="font-weight: bold" />
				<p:selectManyCheckbox id="articsCon"
					value="#{termalismoView.selectedArticAfectadasConyuge}"
					disabled="#{termalismoView.quienSolicita=='' || termalismoView.quienSolicita=='A'}">
					<f:selectItem itemLabel="a) Cadera o rodilla" itemValue="A" />
					<f:selectItem itemLabel="b) Columna" itemValue="B" />
					<f:selectItem itemLabel="c) Hombro" itemValue="C" />
					<f:selectItem itemLabel="d) Muñeca o mano" itemValue="D" />
					<f:selectItem itemLabel="e) Codo" itemValue="E" />
					<f:selectItem itemLabel="f) Tobillo o pie" itemValue="F" />
				</p:selectManyCheckbox>
                <h:outputText value="Que tengo o padezco:"
                    style="font-weight: bold" />
                <p:selectManyCheckbox id="padezcoCon"
                    value="#{termalismoView.selectedTengoPadezcoConyuge}"
                    disabled="#{termalismoView.quienSolicita=='' || termalismoView.quienSolicita=='A'}">
                    <f:selectItem itemLabel="a) Dificultades para moverme" itemValue="A" />
                    <f:selectItem itemLabel="b) Dolor" itemValue="B" />
                    <f:selectItem itemLabel="c) Deformidad" itemValue="C" />
                    <f:selectItem itemLabel="d) Rigidez" itemValue="D" />
                </p:selectManyCheckbox>
				
			</p:panelGrid>
			<p:separator style="visibility: hidden" />
			<p:panelGrid columns="1" layout="grid" id="declaracionCon3">
				<h:outputText
					value="Cumplimentar si se ha señalado que acude al balneario a recibir tratamiento respiratorio"
					style="font-weight: bold" />
				<h:outputText value="Que padezco enfermedades de:"
					style="font-weight: bold" />



				<p:panelGrid styleClass="ui-fluid ui-noborder" style="width:100%" >
					<p:row>
						<p:column style="width:120px">
							<p:selectManyCheckbox id="customCon"
								value="#{termalismoView.selectedViasConyuge}"
								disabled="#{ termalismoView.quienSolicita=='' || termalismoView.quienSolicita=='A' || 
								!termalismoView.selectedTratamientosConyuge.contains('B')}">
								<f:selectItem
									itemLabel="a) Vías respiratorias altas (faringitis, sinusitis, etc.)"
									itemValue="A" />
								<f:selectItem
									itemLabel="b) Vías respiratorias bajas (bronquitis, EPOC, etc.)"
									itemValue="B" />
							</p:selectManyCheckbox>
						</p:column>
						<p:column style="width:10px">
							<p:inputText id="numrecaidasCon" value="#{termalismoView.dto.nred1}" 
							disabled="#{termalismoView.quienSolicita=='' || termalismoView.quienSolicita=='A'}"/>
						</p:column>
						<p:column style="width:90px">
							<p:outputLabel
								value="Número de recaídas en los últimos doce meses" />
						</p:column>
					</p:row>
				</p:panelGrid>

				<h:outputText value="Que, por estos problemas respiratorios, tengo:"
					style="font-weight: bold" />

				<p:selectManyCheckbox id="consecCon"
					value="#{termalismoView.selectedConsecuenciasConyuge}"
					disabled="#{ termalismoView.quienSolicita=='' || termalismoView.quienSolicita=='A' || 
                                !termalismoView.selectedTratamientosConyuge.contains('B')}">
					<f:selectItem
						itemLabel="a) Ingresos en el hospital en el último año"
						itemValue="A" />
					<f:selectItem
						itemLabel="b) que tomar más de dos medicamentos diariamente"
						itemValue="B" />
					<f:selectItem itemLabel="c) muchos síntomas" itemValue="C" />
					<f:selectItem itemLabel="d) que tomar oxígeno diariamente"
						itemValue="D" />
				</p:selectManyCheckbox>

			</p:panelGrid>
			
            <p:separator style="visibility: hidden" />
            <p:panelGrid columns="1" layout="grid" id="declaracionCon4">
                 <h:outputText
                  value="Cumplimentar si se ha señalado que acude al balneario a recibir tratamiento digestivo, renal y vías urinarias, dermatológico y neuropsíquico"
                  style="font-weight: bold" />
            
                <p:panelGrid columns="2" layout="grid"
                    styleClass="ui-fluid ui-noborder">
                    <h:outputText
                        value="Indicar el número de recaídas que ha tenido en los últimos doce meses"/>
                    <h:inputText value="#{termalismoView.dto.cdef2}"  id="recaidasNoRespCon"
                    disabled="#{termalismoView.quienSolicita=='' || termalismoView.quienSolicita=='A'}"/>                        
                 </p:panelGrid>
            </p:panelGrid>     
            			
			<p:separator style="visibility: hidden" />
			<p:panelGrid columns="1" layout="grid" id="declaracionCon5">
				<p:panelGrid columns="1" layout="grid"
					styleClass="ui-fluid ui-noborder">
					<h:outputText
						value="DECLARO bajo mi responsabilidad que son ciertos los datos que consigno en la presente solicitud, manifestando que quedo"
						style="font-weight: bold" />
					<h:outputText
						value="enterado/a de la obligación de comunicar al Imserso cualquier variación que de los mismos pudiera producirse en lo sucesivo."
						style="font-weight: bold" />
					<h:outputText
						value="ACEPTO que, de acuerdo con el artículo 28.2 de la Ley 39/2015, de 1 de octubre, del Procedimiento Administrativo Común de las"
						style="font-weight: bold" />
					<h:outputText
						value="Administraciones Públicas, el Imserso consulte los datos consignados en esta solicitud y recabe aquellos documentos que sean"
						style="font-weight: bold" />
					<h:outputText
						value="precisos para su resolución, a treavés de sus redes corporativas o mediante consulta a las plataformas de intermediación de datos u"
						style="font-weight: bold" />
					<h:outputText
						value="otros sistemas electrónicos habilitados al efecto"
						style="font-weight: bold" />
				</p:panelGrid>
				<p:separator style="visibility: hidden" />
				<p:panelGrid columns="3" layout="grid"
					styleClass="ui-fluid ui-noborder">
					<h:outputText
						value="En caso de no autorizar estas consultas marque la siguiente casilla"
						style="font-weight: bold" />
					<p:selectBooleanCheckbox value="#{termalismoView.dto.autorizaCon}" 
					disabled="#{termalismoView.quienSolicita=='' || termalismoView.quienSolicita=='A'}"/>
					<h:outputText
						value="y, en este caso, deberá aportar, junto a esta solicitud,"
						style="font-weight: bold" />
				</p:panelGrid>
				<p:panelGrid columns="1" layout="grid"
					styleClass="ui-fluid ui-noborder">
					<h:outputText
						value="la documentación que se detalla en las instrucciones"
						style="font-weight: bold" />
				</p:panelGrid>
			</p:panelGrid>

		</p:fieldset>

		<ui:include src="/WEB-INF/templates/createButtons.xhtml">
            <ui:param name="templatesBeanName" value="#{termalismoView}" />
        </ui:include>

	</ui:define>

	

</ui:composition>
