<ui:composition
	template="/WEB-INF/templates/layout/createMultipartLayout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">



	<ui:define name="title">Imserso - Sede Electrónica</ui:define>

	<ui:define name="contentTitle">
		<h:outputText value="Alta de Solicitud de Turismo" styleClass="code" />
	</ui:define>

	<ui:define name="multipartForm">



        <!-- solicitante -->

        <ui:include src="/WEB-INF/templates/layout/personaLayout.xhtml">
			<ui:param name="legend" value="Datos de la persona interesada" />
			<ui:param name="templatesBeanName" value="#{solicitudTurismoView}" />
			<ui:param name="persona" value="solicitante" />
			<ui:param name="disabledMainFields"
				value="#{solicitudTurismoView.disabledSolicitanteMainFields}" />
			<ui:param name="provinciaListName" value="provincias" />
			<ui:param name="hasPais" value="#{false}" />
			<ui:param name="hasEmail" value="#{false}" />
		</ui:include>



        <!-- cónyuge -->

        <ui:include src="/WEB-INF/templates/layout/personaLayout.xhtml">
			<ui:param name="legend" value="Datos del cónyuge o pareja de hecho" />
			<ui:param name="templatesBeanName" value="#{solicitudTurismoView}" />
			<ui:param name="persona" value="conyuge" />
			<ui:param name="disabledMainFields" value="#{false}" />
			<ui:param name="hasEstadoCivil" value="#{false}" />
			<ui:param name="hasSexo" value="#{false}" />
			<ui:param name="hasAddress" value="#{false}" />
			<ui:param name="hasContactData" value="#{false}" />
		</ui:include>



        <!-- notificación -->

        <ui:include src="/WEB-INF/templates/notificacion.xhtml">
			<ui:param name="templatesBeanName" value="#{solicitudTurismoView}" />
			<ui:param name="provinciaListName" value="provincias" />
			<ui:param name="hasDireccionNotificacionPais" value="#{false}" />
		</ui:include>



        <!-- familia numerosa -->

        <ui:include
			src="/WEB-INF/templates/appgestora/turismo/familiaNumerosa.xhtml" />



        <!-- peticiones de destino -->

        <ui:include src="/WEB-INF/templates/appgestora/turismo/destinos.xhtml" />



        <!-- declaración económica -->

        <ui:include
			src="/WEB-INF/templates/appgestora/turismo/declaracionEconomica.xhtml" >
			<ui:param name="templatesBeanName" value="#{solicitudTurismoView}" />
		</ui:include>



        <!-- hijo -->

        <ui:include src="/WEB-INF/templates/layout/personaLayout.xhtml">
			<ui:param name="legend" value="Hijo/a con discapacidad" />
			<ui:param name="templatesBeanName" value="#{solicitudTurismoView}" />
			<ui:param name="persona" value="hijo" />
			<ui:param name="disabledMainFields" value="#{false}" />
			<ui:param name="hasSecondaryFields" value="#{false}" />
			<ui:param name="hasAddress" value="#{false}" />
			<ui:param name="hasContactData" value="#{false}" />
		</ui:include>



		<!-- vinculada -->

		<ui:include
			src="/WEB-INF/templates/appgestora/turismo/vinculada.xhtml" />



        <!-- autorización de consultas -->

        <ui:include
			src="/WEB-INF/templates/appgestora/turismo/autorizacionConsultas.xhtml" />



        <!-- ficheros adjuntos -->

        <ui:include src="/WEB-INF/templates/adjuntos.xhtml">
			<ui:param name="templatesBeanName" value="#{solicitudTurismoView}" />
		</ui:include>



        <!-- command buttons -->

        <ui:include src="/WEB-INF/templates/createButtons.xhtml">
			<ui:param name="templatesBeanName" value="#{solicitudTurismoView}" />
		</ui:include>


	</ui:define>

</ui:composition>





