<ui:composition
	template="/WEB-INF/templates/layout/createMultipartLayout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

	<ui:define name="title">Imserso - Sede Electrónica</ui:define>

	<ui:define name="contentTitle">
		<h:outputText value="Alta de Solicitud de Propósito General"
			styleClass="code" />
	</ui:define>

	<ui:define name="multipartForm">

		<ui:include src="/WEB-INF/templates/layout/personaLayout.xhtml"
			rendered="${templatesBeanName['showRepresentante']}">
			<ui:param name="legend" value="Datos del representante" />
			<ui:param name="templatesBeanName" value="#{pgeneralView}" />
			<ui:param name="persona" value="representante" />
			<ui:param name="disabledMainFields" value="#{pgeneralView.disabledRepresentanteMainFields}" />
			<ui:param name="hasEmail" value="#{true}" />
			<ui:param name="provinciaListName" value="provincias" />
		</ui:include>


		<ui:include src="/WEB-INF/templates/layout/personaLayout.xhtml">
			<ui:param name="legend" value="Datos de la persona interesada" />
            <ui:param name="templatesBeanName" value="#{pgeneralView}" />
            <ui:param name="persona" value="solicitante" />
            <ui:param name="disabledMainFields" value="#{pgeneralView.disabledSolicitanteMainFields}" />
            <ui:param name="hasEmail" value="#{true}" />
            <ui:param name="provinciaListName" value="provincias" />
		</ui:include>



		<ui:include src="/WEB-INF/templates/notificacion.xhtml">
			<ui:param name="templatesBeanName" value="#{pgeneralView}" />
		</ui:include>



		<p:fieldset legend="Datos relativos a la solicitud"
			style="margin-bottom:20px">

			<p:panelGrid columns="1" columnClasses="ui-grid-col-12" layout="grid"
				styleClass="ui-fluid ui-noborder">

				<p:panelGrid columns="1" columnClasses="ui-grid-col-12">
					<o:outputLabel for="asunto" value="Asunto" />
					<p:inputTextarea id="asunto" counter="displayAsunto"
						counterTemplate="quedan {0} caracteres." rows="4" cols="100"
						maxlength="200" value="${pgeneralView.dto.asunto}" />
					<h:outputText id="displayAsunto"
						style="font-style: italic; color: grey; font-size: 80%" />
				</p:panelGrid>

				<p:panelGrid columns="1" columnClasses="ui-grid-col-12">
					<o:outputLabel for="expone" value="Expone" />
					<p:inputTextarea id="expone" counter="displayExpone"
						counterTemplate="quedan {0} caracteres." rows="4" cols="100"
						maxlength="2000" value="${pgeneralView.dto.expone}" />
					<h:outputText id="displayExpone"
						style="font-style: italic; color: grey; font-size: 80%" />
				</p:panelGrid>

				<p:panelGrid columns="1" columnClasses="ui-grid-col-12">
					<o:outputLabel for="solicita" value="Solicita" />
					<p:inputTextarea id="solicita" counter="displaySolicita"
						counterTemplate="quedan {0} caracteres." rows="4" cols="100"
						maxlength="2000" value="${pgeneralView.dto.solicita}" />
					<h:outputText id="displaySolicita"
						style="font-style: italic; color: grey; font-size: 80%" />
				</p:panelGrid>

			</p:panelGrid>

		</p:fieldset>

		<ui:include src="/WEB-INF/templates/adjuntos.xhtml">
			<ui:param name="templatesBeanName" value="#{pgeneralView}" />
		</ui:include>

		<ui:include src="/WEB-INF/templates/createButtons.xhtml">
			<ui:param name="templatesBeanName" value="#{pgeneralView}" />
		</ui:include>

	</ui:define>

</ui:composition>





