<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:forgeview="http://jboss.org/forge/view"
	template="/WEB-INF/templates/crudTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{solicitudBean.id}'/>
		<f:event type="preRenderView" listener='#{solicitudBean.retrieve}'/>
	</f:metadata>

	<ui:param name="pageTitle" value="Create Solicitud"/>

	<ui:define name="header">
		Solicitud
	</ui:define>

	<ui:define name="subheader">
		<c:choose>
			<c:when test='#{!empty solicitudBean.id}'>
				Editar Solicitud
			</c:when>
			<c:otherwise>
				Crear Solicitud
			</c:otherwise>
		</c:choose>
	</ui:define>

	<ui:define name="footer"/>

	<ui:define name="main">
		<h:form id="create">
			<h:messages globalOnly="true" styleClass="error"/>

			<h:panelGrid columnClasses="label,component" columns="2">
				<h:outputLabel for="solicitudBeanSolicitudNumeroRegistro" value="Numero Registro:"/>
				<h:panelGroup>
					<h:outputText id="solicitudBeanSolicitudNumeroRegistro" value="#{solicitudBean.solicitud.numeroRegistro}"/>
				</h:panelGroup>
				<h:outputLabel for="solicitudBeanSolicitudFechaAlta" value="Fecha Alta:"/>
				<h:panelGroup>
					<h:outputText id="solicitudBeanSolicitudFechaAlta" required="true" value="#{solicitudBean.solicitud.fechaAlta}">
						<f:convertDateTime pattern="dd/MM/yyyy" type="date"/>
					</h:outputText>
				</h:panelGroup>
				<h:outputLabel for="solicitudBeanSolicitudNombre" value="Nombre:"/>
				<h:panelGroup>
					<h:outputText id="solicitudBeanSolicitudNombre" maxLength="50" required="true" value="#{solicitudBean.solicitud.nombre}"/>
				</h:panelGroup>
				<h:outputLabel for="solicitudBeanSolicitudApellido1" value="Apellido 1:"/>
				<h:panelGroup>
					<h:outputText id="solicitudBeanSolicitudApellido1" maxLength="50" required="true" value="#{solicitudBean.solicitud.apellido1}"/>
				</h:panelGroup>
				<h:outputLabel for="solicitudBeanSolicitudApellido2" value="Apellido 2:"/>
				<h:panelGroup>
					<h:outputText id="solicitudBeanSolicitudApellido2" maxLength="50" value="#{solicitudBean.solicitud.apellido2}"/>
				</h:panelGroup>
				<h:outputLabel for="solicitudBeanSolicitudDocumentoIdentificacion" value="Documento Identificacion:"/>
				<h:panelGroup>
					<h:outputText id="solicitudBeanSolicitudDocumentoIdentificacion" required="true" value="#{solicitudBean.solicitud.documentoIdentificacion}"/>
				</h:panelGroup>
				<h:outputLabel for="solicitudBeanSolicitudTramite" value="Tramite:"/>
				<h:panelGroup>
					<h:outputText id="solicitudBeanSolicitudTramite" required="true" value="#{solicitudBean.solicitud.tramite.descripcion}"/>
				</h:panelGroup>
				<h:outputLabel for="solicitudBeanSolicitudEstado" value="Estado:"/>
				<h:panelGroup>
					<h:selectOneMenu id="solicitudBeanSolicitudEstado" required="true" value="#{solicitudBean.solicitud.estado}"
					 disabled="#{!solicitudBean.vacaciones and !solicitudBean.termalismo}">
						<f:selectItems value="#{solicitudBean.estados}" itemLabel="#{estado.descripcion}" var="estado"></f:selectItems>
					</h:selectOneMenu>
					<h:message for="solicitudBeanSolicitudEstado" styleClass="error"/>
				</h:panelGroup>
			</h:panelGrid>

			<div class="buttons">
				<h:commandLink value="Grabar" action='#{solicitudBean.update}' styleClass="btn btn-primary"/>
				<c:choose>
					<c:when test='#{!empty solicitudBean.id}'>
						<h:link value="Cancelar" outcome="view" styleClass="btn btn-primary">
							<f:param name="id" value='#{solicitudBean.id}'/>
						</h:link>
						<h:commandLink value="Borrar" action='#{solicitudBean.delete}' styleClass="btn btn-primary"/>
					</c:when>
					<c:otherwise>
						<h:link value="Cancelar" outcome="search" styleClass="btn btn-primary"/>
					</c:otherwise>
				</c:choose>
			</div>
		</h:form>
	</ui:define>

</ui:composition>