<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:forgeview="http://jboss.org/forge/view"
	template="/WEB-INF/templates/crudTemplate.xhtml"
                xmlns:rich="http://richfaces.org/rich">

	<f:metadata>
		<f:viewParam name="page" value='#{solicitudBean.page}'/>
		<f:event type="preRenderView" listener='#{solicitudBean.paginate}'/>
	</f:metadata>

	<ui:param name="pageTitle" value="Buscar Solicitud "/>

	<ui:define name="header">
		Solicitud
	</ui:define>

	<ui:define name="subheader">
		Buscar Solicitud 
	</ui:define>

	<ui:define name="footer"/>

	<ui:define name="main">
		<h:form id="search">
			<f:validateBean disabled="true">
				<h:panelGroup styleClass="search">

					<h:panelGrid columnClasses="label,component,required" columns="3">
					
						<h:outputLabel for="solicitudBeanTramite" value="Tramite:"/>
						<h:panelGroup>
							<h:selectOneMenu converter="#{tramiteBean.converter}" id="solicitudBeanTramite" value="#{solicitudBean.example.tramite}">
								<f:selectItem/>
								<f:selectItems itemLabel="#{forgeview:display(_item.nombre)}" itemValue="#{_item}" value="#{tramiteBean.tramiteUsuarioPrincipal}" var="_item"/>
							</h:selectOneMenu>
							<h:message for="solicitudBeanTramite" styleClass="error"/>
						</h:panelGroup>
						<h:outputText/>					
					
						<h:outputLabel for="solicitudBeanExampleFechaAlta" value="Fecha alta:"/>
						<h:panelGroup>
						<rich:calendar value="#{solicitudBean.example.fechaAlta}" enableManualInput="true" datePattern="dd/MM/yyyy"/>
							<h:message for="solicitudBeanExampleFechaAlta" styleClass="error"/>
						</h:panelGroup>
						<h:outputText/>
						<h:outputLabel for="solicitudBeanExampleNif" value="NIF/NIE solicitante o representante:"/>
						<h:panelGroup>
							<h:inputText id="solicitudBeanExampleNif" value="#{solicitudBean.example.documentoIdentificacion}" 
							             maxlength="15" style="width:100px"/>
							<h:message for="solicitudBeanExampleNif" styleClass="error"/>
						</h:panelGroup>
						<h:outputText/>
					</h:panelGrid>
					<h:panelGroup styleClass="buttons">
						<h:commandLink value="Buscar" action='#{solicitudBean.search}' styleClass="btn btn-primary"/>
					</h:panelGroup>
				</h:panelGroup>
			</f:validateBean>
			
			
			<h:outputText value="No se han encontrado solicitudes" rendered="#{solicitudBean.pageItems==null or (solicitudBean.pageItems!=null and solicitudBean.pageItems.size()==0)}"/>
			<h:dataTable id="solicitudBeanPageItems" styleClass="data-table" value="#{solicitudBean.pageItems}" var="_item" 
			rendered="#{solicitudBean.pageItems!=null and solicitudBean.pageItems.size()>0}">
				<h:column>
					<f:facet name="header">
						<h:outputText value="Fecha Alta"/>
					</f:facet>
					<h:link outcome="/admin/solicitud/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="itemFechaAlta" value="#{_item.fechaAlta}">
								<f:convertDateTime pattern="dd/MM/yyyy" type="date"/>
						</h:outputText>
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Nombre"/>
					</f:facet>
					<h:link outcome="/admin/solicitud/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="itemNombre" value="#{_item.nombre}"/>
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Apellido 1"/>
					</f:facet>
					<h:link outcome="/admin/solicitud/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="itemApellido1" value="#{_item.apellido1}"/>
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Documento Identificacion"/>
					</f:facet>
					<h:link outcome="/admin/solicitud/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="itemDocumentoIdentificacion" value="#{_item.documentoIdentificacion}"/>
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Tramite"/>
					</f:facet>
					<h:link outcome="/admin/solicitud/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="forgeviewdisplayitemTramite" value="#{forgeview:display(_item.tramite)}"/>
					</h:link>
				</h:column>
			</h:dataTable>
			<ui:include src="/resources/scaffold/paginator.xhtml">
				<ui:param name="paginatorBean" value='#{solicitudBean}'/>
			</ui:include>
		</h:form>
			
	</ui:define>

</ui:composition>
