<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:o="http://omnifaces.org/ui"
    xmlns:of="http://omnifaces.org/functions"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head>
    <f:metadata>
        <f:attribute name="content" value="text/html; utf-8" />
    </f:metadata>
    <h2>Prueba de RequestContext de Primefaces</h2>
</h:head>

<h:body>

<h:form id="form">
    <p:panel id="panel" header="New User" style="margin-bottom:10px;">
        <p:messages />
        <h:panelGrid columns="2" cellpadding="5">
            <p:outputLabel for="firstname" value="Firstname:" />
            <p:inputText id="firstname" value="#{requestContextView.user.firstname}" required="true"/>
 
            <p:outputLabel for="surname" value="Lastname:" />
            <p:inputText id="surname" value="#{requestContextView.user.lastname}" required="true"/>
        </h:panelGrid>
    </p:panel>
 
    <p:commandButton value="Save" actionListener="#{requestContextView.save}" oncomplete="handleComplete(xhr, status, args)" />
 
    <p:log />
</h:form>
</h:body>
</html>
