<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:forgeview="http://jboss.org/forge/view"
	template="/WEB-INF/templates/crudTemplate.xhtml">
	<f:metadata>
		<f:viewParam name="id" value='#{plantillaEmailBean.id}'/>
		<f:event type="preRenderView" listener='#{plantillaEmailBean.retrieve}'/>
	</f:metadata>

	<ui:param name="pageTitle" value="Create Plantilla Email"/>

	<ui:define name="header">
		Plantilla Email
	</ui:define>

	<ui:define name="subheader">
		<c:choose>
			<c:when test='#{!empty plantillaEmailBean.id}'>
				Editar Plantilla Email
			</c:when>
			<c:otherwise>
				Crear Plantilla Email
			</c:otherwise>
		</c:choose>
	</ui:define>

	<ui:define name="footer"/>

	<ui:define name="main">
		<h:form id="create">
			<h:messages globalOnly="true" styleClass="error"/>

			<h:panelGrid columnClasses="label,component,required" columns="3">
				<h:outputLabel for="plantillaEmailBeanplantillaEmailNombre" value="Nombre:"/>
				<h:panelGroup>
					<h:inputText id="plantillaEmailBeanplantillaEmailNombre" required="true" value="#{plantillaEmailBean.plantillaEmail.nombre}"/>
					<h:message for="plantillaEmailBeanplantillaEmailNombre" styleClass="error"/>
				</h:panelGroup>
				<h:outputText value="*"/>
				<h:outputLabel for="plantillaEmailBeanplantillaEmailDescripcion" value="Descripcion:"/>
				<h:panelGroup>
					<h:inputText id="plantillaEmailBeanplantillaEmailDescripcion" required="true" value="#{plantillaEmailBean.plantillaEmail.descripcion}"/>
					<h:message for="plantillaEmailBeanplantillaEmailDescripcion" styleClass="error"/>
				</h:panelGroup>
				<h:outputText value="*"/>			
				<h:outputLabel for="plantillaEmailBeanPlantillaEmailTexto" value="Texto:"/>
				<h:panelGroup >				
					<h:inputTextarea id="plantillaEmailBeanPlantillaEmailTexto" value="#{plantillaEmailBean.plantillaEmail.texto}"  style="width: 490px;" rows="10"/>
					<h:message for="plantillaEmailBeanPlantillaEmailTexto" styleClass="error"/>
				</h:panelGroup>
				<h:outputText/>
				<h:outputLabel for="plantillaEmailBeanPlantillaEmailIdioma" value="Idioma:"/>
				<h:panelGroup>
					<h:selectOneMenu converter="#{idiomaBean.converter}" id="plantillaEmailBeanPlantillaEmailIdioma" value="#{plantillaEmailBean.plantillaEmail.idioma}">
						<f:selectItem/>
						<f:selectItems itemLabel="#{forgeview:display(_item)}" itemValue="#{_item}" value="#{idiomaBean.all}" var="_item"/>
					</h:selectOneMenu>
					<h:message for="plantillaEmailBeanPlantillaEmailIdioma" styleClass="error"/>
				</h:panelGroup>
				<h:outputText/>
			</h:panelGrid>

			<div class="buttons">
				<h:commandLink value="Grabar" action='#{plantillaEmailBean.update}' styleClass="btn btn-primary"/>
				<c:choose>
					<c:when test='#{!empty plantillaEmailBean.id}'>
						<h:link value="Cancelar" outcome="view" styleClass="btn btn-primary">
							<f:param name="id" value='#{plantillaEmailBean.id}'/>
						</h:link>
						<h:commandLink value="Borrar" action='#{plantillaEmailBean.delete}' styleClass="btn btn-primary"/>
					</c:when>
					<c:otherwise>
						<h:link value="Cancelar" outcome="search" styleClass="btn btn-primary"/>
					</c:otherwise>
				</c:choose>
			</div>
		</h:form>
	</ui:define>

</ui:composition>