<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:forgeview="http://jboss.org/forge/view"
	template="/WEB-INF/templates/crudTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="page" value='#{plantillaEmailBean.page}'/>
		<f:event type="preRenderView" listener='#{plantillaEmailBean.paginate}'/>
	</f:metadata>

	<ui:param name="pageTitle" value="Buscar Plantilla Email "/>

	<ui:define name="header">
		Plantilla Email
	</ui:define>

	<ui:define name="subheader">
		Buscar Plantilla Email 
	</ui:define>

	<ui:define name="footer"/>

	<ui:define name="main">
		<h:form id="search">
			<f:validateBean disabled="true">
				<h:panelGroup styleClass="search">

					<h:panelGrid columnClasses="label,component,required" columns="3">
						<h:outputLabel for="plantillaEmailBeanExampleNombre" value="Nombre:"/>
						<h:panelGroup>
							<h:inputText id="plantillaEmailBeanExampleNombre" value="#{plantillaEmailBean.example.nombre}"/>
							<h:message for="plantillaEmailBeanExampleNombre" styleClass="error"/>
						</h:panelGroup>
						<h:outputText/>
						<h:outputLabel for="plantillaEmailBeanExampleDescripcion" value="Descripcion:"/>
						<h:panelGroup>
							<h:inputText id="plantillaEmailBeanExampleDescripcion" value="#{plantillaEmailBean.example.descripcion}"/>
							<h:message for="plantillaEmailBeanExampleDescripcion" styleClass="error"/>
						</h:panelGroup>	
						<h:outputText/>										
						<h:outputLabel for="plantillaEmailBeanExampleIdioma" value="Idioma:"/>
						<h:panelGroup>
							<h:selectOneMenu converter="#{idiomaBean.converter}" id="plantillaEmailBeanExampleIdioma" value="#{plantillaEmailBean.example.idioma}">
								<f:selectItem/>
								<f:selectItems itemLabel="#{forgeview:display(_item)}" itemValue="#{_item}" value="#{idiomaBean.all}" var="_item"/>
							</h:selectOneMenu>
							<h:message for="plantillaEmailBeanExampleIdioma" styleClass="error"/>
						</h:panelGroup>
						<h:outputText/>
					</h:panelGrid>
					<h:panelGroup styleClass="buttons">
						<h:commandLink value="Buscar" action='#{plantillaEmailBean.search}' styleClass="btn btn-primary"/>
						<h:commandLink value="Crear nuevo" action='#{plantillaEmailBean.create}' styleClass="btn btn-primary"/>
					</h:panelGroup>
				</h:panelGroup>
			</f:validateBean>
			
			<h:dataTable id="plantillaEmailBeanPageItems" styleClass="data-table" value="#{plantillaEmailBean.pageItems}" var="_item" 
			rendered="#{plantillaEmailBean.pageItems!=null and plantillaEmailBean.pageItems.size()>0}">
				<h:column>
					<f:facet name="header">
						<h:outputText value="Nombre"/>
					</f:facet>
					<h:link outcome="/admin/plantillaEmail/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="itemTexto" value="#{_item.nombre}"/>
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Descripcion"/>
					</f:facet>
					<h:link outcome="/admin/plantillaEmail/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="itemDesc" value="#{_item.descripcion}"/>
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Idioma"/>
					</f:facet>
					<h:link outcome="/admin/plantillaEmail/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="forgeviewdisplayitemIdioma" value="#{forgeview:display(_item.idioma)}"/>
					</h:link>
				</h:column>
			</h:dataTable>
			<ui:include src="/resources/scaffold/paginator.xhtml">
				<ui:param name="paginatorBean" value='#{plantillaEmailBean}'/>
			</ui:include>
		</h:form>
			
	</ui:define>

</ui:composition>
