<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a="http://richfaces.org/a4j"
	template="/WEB-INF/templates/crudTemplate.xhtml">


	<ui:param name="pageTitle" value="Editar Usuario" />

	<ui:define name="header">
		Usuario
	</ui:define>

	<ui:define name="subheader">
		Seleccionar Usuario
	</ui:define>

	<ui:define name="footer" />

	<ui:define name="main">

		<h:form id="frm">

			<rich:panel>

				<f:facet name="header">
					<h:outputText value="Seleccione el usuario" />
				</f:facet>

				<rich:dataTable id="userSelectionDataTable" rows="10" var="_user" iterationStatusVar="it"
					style="width:100%;" value="#{usuarioBean.userList}">


					<h:column>
						<f:facet name="header">usuario</f:facet>
						<h:commandButton action="#{usuarioBean.createUser(_user.nombre)}" rendered="#{!_user.userEnabled}"
							value="alta" />
						<h:commandButton action="#{usuarioBean.selectUser(_user.nombre)}"  rendered="#{_user.userEnabled}"
							value="ver" />
					</h:column>

					<h:column>
						<f:facet name="header">usuario</f:facet>
						<h:outputText value="#{_user.nombre}" />
					</h:column>

					<h:column>
						<f:facet name="header">comentario</f:facet>
						<h:outputText value="#{_user.comentario}" style="color: #{_user.messageColor}"/>
					</h:column>
					
					<f:facet name="footer">
	                	<rich:dataScroller page="#{usuarioBean.page}" fastStep="3"/>
	            	</f:facet>

				</rich:dataTable>

			</rich:panel>

		</h:form>

	</ui:define>

</ui:composition>