<ui:composition
	template="/WEB-INF/templates/layout/createMultipartLayout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

	<ui:define name="title">Imserso - Sede Electrónica</ui:define>

	<ui:define name="contentTitle">
		<h:outputText value="Panel de Administración (simulación)"
			styleClass="code" />
	</ui:define>

	<ui:define name="content">



		<h:form id="form">

			<p:messages id="msgs" autoUpdate="true" />

			<p:growl id="growlMsg" autoUpdate="true" showDetail="true"
				showSummary="true" globalOnly="true" life="5000" />

			<p:remoteCommand name="updateRemoteWebServicesAvailability"
				update=":form:tabViewId:applicationsDT" />

			<o:socket channel="remoteServicesChannel"
				onmessage="function(message, channel, event) { console.log(message); updateRemoteWebServicesAvailability(); }" />

			<p:remoteCommand name="updateSynchronizer"
				update=":form:tabViewId:syncText" />

			<o:socket channel="synchronizerChannel"
				onmessage="function(message, channel, event) { console.log(message); updateSynchronizer(); }" />

			<p:tabView id="tabViewId">
				<p:tab title="Monitor de Servicios Remotos" id="monitorServiciosTab">
					<p:dataTable id="applicationsDT" var="app"
						emptyMessage="no hay aplicaciones definidas"
						value="#{remoteServicesMonitor.remoteApplicationList}"
						onExpandStart="">
						<f:facet name="header">
							<p:graphicImage library="forge"
								name="#{remoteServicesMonitor.globalStateOk}.png"
								title="#{app.webSiteURL}" />
						</f:facet>

						<p:column style="width:16px">
							<p:rowToggler />
						</p:column>

						<p:column headerText="App">
							<h:outputText value="#{app.name}" style="font-weight:bold" />
						</p:column>

						<p:column headerText="Descripción" priority="5">
							<h:outputText value="#{app.description}" />
						</p:column>

						<p:column headerText="Sitio Web" priority="4"
							style="text-align:center">
							<p:graphicImage library="forge" name="#{app.webSiteActive()}.png"
								title="#{app.webSiteURL}" />
						</p:column>

						<p:column headerText="Servicios Web" style="text-align:center">
							<p:graphicImage library="forge"
								name="#{app.webServicesActive()}.png" />
						</p:column>


						<p:rowExpansion id="rowExpansionId">

							<p:panelGrid columns="1" columnClasses="ui-grid-col-12"
								layout="grid" styleClass="ui-fluid ui-noborder">

								<p:dataList value="#{app.services}" var="srv" type="definition"
									emptyMessage="no hay servicios definidos" lazy="true">

									<f:facet name="header">Servicios Web</f:facet>

									<p:panelGrid columns="2"
										columnClasses="ui-grid-col-1,ui-grid-col-11" layout="grid"
										styleClass="ui-fluid ui-noborder">

										<p:graphicImage library="forge" name="#{srv.isEnabled()}.png" />
										<h:outputText value="#{srv.serviceName}"
											style="font-weight: #{srv.isCritical() ? 'bold' : 'normal'}; font-size: #{srv.isCritical() ? '100%' : '90%'}" />


									</p:panelGrid>
								</p:dataList>
							</p:panelGrid>



						</p:rowExpansion>

					</p:dataTable>

					<p:blockUI block="applicationsDT" trigger="applicationsDT">
				    Espere, por favor...
				    <p:separator />
						<p:graphicImage library="demo" name="/images/ajaxloadingbar.gif" />
					</p:blockUI>
				</p:tab>



				<p:tab title="Panel de Sincronización">

					<h:outputText id="syncText"
						value="#{hermesSynchronizerMonitor.now()}">
						<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
					</h:outputText>

				</p:tab>



				<p:tab title="Panel de Alertas">

				</p:tab>

				<p:tab title="web.xml">

					<p:tabView orientation="bottom">

						<p:tab title="Vistas de bienvenida">
							<p:dataList value="#{webXmlBean.welcomeFiles}" var="_file">
								<f:facet name="header">
									<h:outputText value="&lt;welcome-file-list&gt;" />
								</f:facet>
								<h:outputText value="#{_file}" />
							</p:dataList>
						</p:tab>

						<p:tab title="Vistas de error">
							<p:dataTable value="#{webXmlBean.errorPageLocations}" var="_page">
								<f:facet name="header">
									<h:outputText value="&lt;error-page&gt;" />
								</f:facet>
								<p:column headerText="excepción">
									<h:outputText value="#{_page.key}" />
								</p:column>
								<p:column headerText="vista">
									<h:outputText value="#{_page.value}" />
								</p:column>
							</p:dataTable>
						</p:tab>

						<p:tab title="Reglas de seguridad">
							<p:dataTable value="#{webXmlBean.securityConstraints}" var="_sc">
								<f:facet name="header">
									<h:outputText value="&lt;security-constraint&gt;" />
								</f:facet>
								<p:column headerText="clave">
									<h:outputText value="#{_sc.key}" />
								</p:column>
								<p:column headerText="valor">
									<h:outputText value="#{_page.value}" />
								</p:column>
							</p:dataTable>
						</p:tab>

						<p:tab title="Misc">
							<p:panelGrid columns="2">
								<h:outputText value="Timeout: " />
								<h:outputText value="#{webXmlBean.sessionTimeout}" />
								<h:outputText value="Vista de autenticación:" />
								<h:outputText value="#{webXmlBean.formLoginPage}" />
								<h:outputText value="Acceso permitido:" />
								<h:outputText value="#{webXmlBean.accessAllowed}" />
							</p:panelGrid>

						</p:tab>

					</p:tabView>

				</p:tab>
			</p:tabView>

		</h:form>

	</ui:define>
</ui:composition>