<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:a="http://richfaces.org/a4j"
	template="/WEB-INF/templates/crudTemplate.xhtml"
    xmlns:rich="http://richfaces.org/rich">

	

	<ui:param name="pageTitle" value="Remesa descarga solicitudes termalismo"/>

	<ui:define name="header">
		Remesa solicitudes termalismo
	</ui:define>

	<ui:define name="subheader">
		Descargar remesa 
	</ui:define>

	<ui:define name="footer"/>

	<ui:define name="main">
		<h:form id="search">
			<f:validateBean disabled="true">
				<h:panelGroup styleClass="search">

					<h:panelGrid columnClasses="label,component,required" columns="3">						
						<h:outputLabel for="fechaDesde" value="Fecha desde"/>
						<h:panelGroup>
                           <rich:calendar id="fechaDesde" datePattern="dd/MM/yyyy"
                                    enableManualInput="true"
                                    value="#{gestionarRemesaSolicitudesTermalismo.fechaDesde}">                                   
                           </rich:calendar>
							<h:message for="fechaDesde" styleClass="error"/>
						</h:panelGroup>
						<h:outputText/>
						
						<h:outputLabel for="fechaHasta" value="Fecha hasta"/>
                        <h:panelGroup>                           
                           <rich:calendar id="fechaHastaId" datePattern="dd/MM/yyyy"
                                    enableManualInput="true" required="true"
                                    value="#{gestionarRemesaSolicitudesTermalismo.fechaHasta}">                                   
                           </rich:calendar>
                           <h:message for="fechaHasta" styleClass="error"/>
                        </h:panelGroup>
                        <h:outputText/>
                        
                        <h:outputLabel value="Forzar reenvío"/>
                        <h:panelGroup>                           
                                <h:selectBooleanCheckbox id="idReenvio"                                   
                                    value="#{gestionarRemesaSolicitudesTermalismo.forzarReenvio}" />
                        </h:panelGroup>
                        <h:outputText/>
                        
                        
                        
						
					</h:panelGrid>
					<h:panelGroup styleClass="buttons">
                        <a:commandLink                    
	                    onclick="if (!window.confirm('¿Desea lanzar el proceso Remesa Solicitudes Termalismo?')){return false}"
	                    id="cmmndButton01" value="Lanzar" render="@all" execute="@form"
	                    action="#{gestionarRemesaSolicitudesTermalismo.lanzar()}"  styleClass="btn btn-primary"/>    
	                    
	                    <h:link value="Cancelar" outcome="home" styleClass="btn btn-primary"/>       
					</h:panelGroup>
				</h:panelGroup>
			</f:validateBean>
			
			
		</h:form>
			
	</ui:define>

</ui:composition>
