<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:forgeview="http://jboss.org/forge/view"
	template="/WEB-INF/templates/crudTemplate.xhtml"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a="http://richfaces.org/a4j">

	<f:metadata>
		<f:viewParam name="id" value='#{solicitudPdfBean.id}'/>
		<f:event type="preRenderView" listener='#{solicitudPdfBean.retrieve}'/>
	</f:metadata>

	<ui:param name="pageTitle" value="Create Plantilla solicitud Pdf"/>

	<ui:define name="header">
		Plantilla Solicitud Pdf
	</ui:define>

	<ui:define name="subheader">
		<c:choose>
			<c:when test='#{!empty solicitudPdfBean.id}'>
				Editar Plantilla Solicitud Pdf
			</c:when>
			<c:otherwise>
				Crear Plantilla Solicitud Pdf
			</c:otherwise>
		</c:choose>
	</ui:define>

	<ui:define name="footer"/>

	<ui:define name="main">
		<h:form id="create" enctype="multipart/form-data">
			<h:messages globalOnly="true" styleClass="error"/>

			<h:panelGrid columnClasses="label,component,required" columns="3">								
				<h:outputLabel for="solicitudPdfBeansolicitudPdfNombre" value="Nombre:"/>
				<h:panelGroup>
					<h:inputText id="solicitudPdfBeansolicitudPdfNombre" required="true" value="#{solicitudPdfBean.solicitudPdf.nombre}"/>
					<h:message for="solicitudPdfBeansolicitudPdfNombre" styleClass="error"/>
				</h:panelGroup>
				<h:outputText value="*"/>
				<h:outputLabel for="solicitudPdfBeansolicitudPdfDescripcion" value="Descripcion:"/>
				<h:panelGroup>
					<h:inputText id="solicitudPdfBeansolicitudPdfDescripcion" required="true" value="#{solicitudPdfBean.solicitudPdf.descripcion}"/>
					<h:message for="solicitudPdfBeansolicitudPdfDescripcion" styleClass="error"/>
				</h:panelGroup>
				<h:outputText value="*"/>
				<h:outputLabel for="solicitudPdfBeansolicitudPdfIdioma" value="Idioma:"/>
				<h:panelGroup>
					<h:selectOneMenu converter="#{idiomaBean.converter}" id="solicitudPdfBeansolicitudPdfIdioma" value="#{solicitudPdfBean.solicitudPdf.idioma}" required="true">
						<f:selectItem/>
						<f:selectItems itemLabel="#{forgeview:display(_item)}" itemValue="#{_item}" value="#{idiomaBean.all}" var="_item"/>
					</h:selectOneMenu>
					<h:message for="solicitudPdfBeansolicitudPdfIdioma" styleClass="error"/>
				</h:panelGroup>
				<h:outputText/>
			</h:panelGrid>
			
			 <h:panelGrid columns="2" columnClasses="top,top" id="idPanel">


					
					
					
					
			<rich:fileUpload 			
				listHeight="60px" addLabel="Seleccione archivo..." 
				clearAllLabel="Eliminar todos" clearLabel="Limpiar"				
				uploadLabel="Adjuntar" doneLabel="Adjuntado con éxito"  
				binding="#{solicitudPdfBean.fileUpload}"
				sizeExceededLabel="Tamaño superior al permitido" 			
				fileUploadListener="#{solicitudPdfBean.listener}" 
				maxFilesQuantity="1" id="fileUpload"  ontyperejected="alert('Seleccione ficheros pdf');"
				immediateUpload="true" acceptedTypes="pdf">
			</rich:fileUpload>
			

			<h:panelGrid columns="1">
				<h:panelGroup id="info1" >
              	 <div style="height:3px" />
               	 <br />
               	 <a:commandButton action="#{solicitudPdfBean.clearUploadData}"
               	     onclick="if (!window.confirm('El pdf se borrará. ¿Continuar?')){return false}"
                   	 render="@this idPanel verPdf" value="Borrar pdf"
                   	 rendered="#{solicitudPdfBean.solicitudPdf.id!=null}" />
                    
                    
 				<h:commandButton action="#{solicitudPdfBean.verPdf()}"  value="Ver Pdf" id="verPdf"
                    rendered="#{solicitudPdfBean.solicitudPdf.id!=null and solicitudPdfBean.solicitudPdf.valor!=null}" />                                        
          		 </h:panelGroup>
          		 
          		 <h:message for="fileUpload" styleClass="error"/>
       		</h:panelGrid>
	       
					
	            	
			</h:panelGrid>
		
			<div class="buttons">
				<h:commandLink value="Grabar" action='#{solicitudPdfBean.update}' styleClass="btn btn-primary"/>
				<c:choose>
					<c:when test='#{!empty solicitudPdfBean.id}'>
						<h:link value="Cancelar" outcome="view" styleClass="btn btn-primary">
							<f:param name="id" value='#{solicitudPdfBean.id}'/>
						</h:link>
						<h:commandLink value="Borrar" action='#{solicitudPdfBean.delete}' styleClass="btn btn-primary"/>
					</c:when>
					<c:otherwise>
						<h:link value="Cancelar" outcome="search" styleClass="btn btn-primary"/>
					</c:otherwise>
				</c:choose>
			</div>
		</h:form>
	</ui:define>

</ui:composition>