<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:forgeview="http://jboss.org/forge/view"
	template="/WEB-INF/templates/crudTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="page" value='#{solicitudPdfBean.page}'/>
		<f:event type="preRenderView" listener='#{solicitudPdfBean.paginate}'/>
	</f:metadata>

	<ui:param name="pageTitle" value="Buscar Plantilla solicitud Pdf "/>

	<ui:define name="header">
		Plantilla Solicitud Pdf
	</ui:define>

	<ui:define name="subheader">
		Buscar Plantilla Solicitud Pdf 
	</ui:define>

	<ui:define name="footer"/>

	<ui:define name="main">
		<h:form id="search">
			<f:validateBean disabled="true">
				<h:panelGroup styleClass="search">

					<h:panelGrid columnClasses="label,component,required" columns="3">						
						<h:outputLabel for="solicitudPdfBeanExampleNombre" value="Nombre:"/>
						<h:panelGroup>
							<h:inputText id="solicitudPdfBeanExampleNombre" value="#{solicitudPdfBean.example.nombre}"/>
							<h:message for="solicitudPdfBeanExampleNombre" styleClass="error"/>
						</h:panelGroup>
						<h:outputText/>
						<h:outputLabel for="solicitudPdfBeanExampleDescripcion" value="Descripcion:"/>
						<h:panelGroup>
							<h:inputText id="solicitudPdfBeanExampleDescripcion" value="#{solicitudPdfBean.example.descripcion}"/>
							<h:message for="solicitudPdfBeanExampleDescripcion" styleClass="error"/>
						</h:panelGroup>
						<h:outputText/>
						<h:outputLabel for="solicitudPdfBeanExampleIdioma" value="Idioma:"/>
						<h:panelGroup>
							<h:selectOneMenu converter="#{idiomaBean.converter}" id="solicitudPdfBeanExampleIdioma" value="#{solicitudPdfBean.example.idioma}">
								<f:selectItem/>
								<f:selectItems itemLabel="#{forgeview:display(_item)}" itemValue="#{_item}" value="#{idiomaBean.all}" var="_item"/>
							</h:selectOneMenu>
							<h:message for="solicitudPdfBeanExampleIdioma" styleClass="error"/>
						</h:panelGroup>
						<h:outputText/>
					</h:panelGrid>
					<h:panelGroup styleClass="buttons">
						<h:commandLink value="Buscar" action='#{solicitudPdfBean.search}' styleClass="btn btn-primary"/>
						<h:commandLink value="Crear nuevo" action='#{solicitudPdfBean.create}' styleClass="btn btn-primary"/>
					</h:panelGroup>
				</h:panelGroup>
			</f:validateBean>
			
			<h:dataTable id="solicitudPdfBeanPageItems" styleClass="data-table" value="#{solicitudPdfBean.pageItems}" var="_item">				
				<h:column>
					<f:facet name="header">
						<h:outputText value="Nombre"/>
					</f:facet>
					<h:link outcome="/admin/solicitudPdf/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="itemNombre" value="#{_item.nombre}"/>
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Descripcion"/>
					</f:facet>
					<h:link outcome="/admin/solicitudPdf/view">
						<f:param name="id" value="#{_item.id}"/>
						<h:outputText id="itemDescripcion" value="#{_item.descripcion}"/>
					</h:link>
				</h:column>
			</h:dataTable>
			<ui:include src="/resources/scaffold/paginator.xhtml">
				<ui:param name="paginatorBean" value='#{solicitudPdfBean}'/>
			</ui:include>
		</h:form>
			
	</ui:define>

</ui:composition>
