<ui:composition
	template="/WEB-INF/templates/layout/createMultipartLayout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">

	<ui:define name="title">Imserso - Sede Electrónica</ui:define>

	<ui:define name="contentTitle">
		<h:outputText value="Confirmación del registro de su solicitud"
			styleClass="code" />
	</ui:define>

	<ui:define name="content">

		<o:form includeRequestParams="true">
			<p:importEnum
				type="es.imserso.hermes.session.webservice.dto.TipoDocumentoRegistrado"
				var="tipoDocumentoRegistrado" allSuffix="ALL_ENUM_VALUES" />


			<p:fieldset legend="Alta de solicitud" style="margin-bottom:20px">

				<h:outputText value="Su solicitud se ha dado de alta correctamente" />

				<p:separator />

				<p:panelGrid columns="2">
					<f:facet name="header">
						<h:outputText value="Datos de registro" />
					</f:facet>
					<h:outputText value="Número de registro:" />
					<h:outputText
						value="#{respuestaAltaView.solicitud.identificadorRegistro.registerIdentification}" />
					<h:outputText value="Fecha:" />
					<h:outputText value="#{respuestaAltaView.solicitud.fechaAlta}">
						<f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss" />
					</h:outputText>
				</p:panelGrid>

				<p:spacer height="20" width="50" />

				<p:panelGrid columns="2">
					<f:facet name="header">
						<h:outputText value="Datos de solicitud" />
					</f:facet>
					<h:outputText value="Asunto:" />
					<h:outputText
						value="#{respuestaAltaView.solicitud.tramite.descripcion}" />
					<h:outputText value="Nombre solicitante:" />
					<h:outputText value="#{respuestaAltaView.nombreSolicitante}" />
					<h:outputText value="NIF/CIF:" />
					<h:outputText
						value="#{respuestaAltaView.solicitud.documentoIdentificacion}" />
					<h:outputText value="Fecha de solicitud:" />
					<h:outputText value="#{respuestaAltaView.solicitud.fechaAlta}">
						<f:convertDateTime pattern="dd/MM/yyyy hh:mm:ss" />
					</h:outputText>
				</p:panelGrid>

				<p:spacer height="20" width="50" />

				<p:panelGrid columns="1">
					<f:facet name="header">
						<h:outputText value="Justificante del Registro" />
					</f:facet>
					<p:commandLink
						value="#{tipoDocumentoRegistrado.JUSTIFICANTE.nombreDocumentoPorDefecto}"
						ajax="false">
						<p:fileDownload value="#{respuestaAltaView.pdfJustificante}" />
					</p:commandLink>
				</p:panelGrid>

				<p:spacer height="20" width="50" />

				<p:panelGrid columns="1">
					<f:facet name="header">
						<h:outputText value="Solicitud entregada" />
					</f:facet>
					<p:commandLink
						value="#{tipoDocumentoRegistrado.SOLICITUD.nombreDocumentoPorDefecto}"
						ajax="false">
						<p:fileDownload value="#{respuestaAltaView.pdfSolicitud}" />
					</p:commandLink>
				</p:panelGrid>

				<p:spacer height="20" width="50" />

				<p:panelGrid columns="1"
					rendered="#{not empty respuestaAltaView.adjuntos.documentoSolicitudAdjunta}">
					<f:facet name="header">
						<h:outputText value="Solicitud adjuntada" />
					</f:facet>
					<p:commandLink
						value="#{tipoDocumentoRegistrado.SOLICITUD_ADJUNTA.nombreDocumentoPorDefecto}"
						ajax="false">
						<p:fileDownload value="#{respuestaAltaView.pdfSolicitudAdjuntada}" />
					</p:commandLink>
				</p:panelGrid>

				<p:spacer height="20" width="50" />

				<p:panelGrid columns="1"
					rendered="#{not empty respuestaAltaView.adjuntos.documentosPersonales}">
					<f:facet name="header">

						<h:outputText value="Documentos Adjuntos" />
					</f:facet>

					<ui:repeat var="doc" varStatus="status"
						value="#{respuestaAltaView.adjuntos.documentosPersonales}">
						<h:outputText value="#{doc.nombreFichero}" />
						<br />
					</ui:repeat>

				</p:panelGrid>

				<p:spacer height="20" width="50"
					rendered="#{not empty respuestaAltaView.adjuntos.documentosPersonales}" />

				<p:panelGrid columns="1">
					<f:facet name="header">
						<h:outputText value="Envío comunicación por email" />
					</f:facet>
					<h:outputText
						value="Se ha enviado un email al siguiente destinatario: #{respuestaAltaView.solicitud.email}" />
				</p:panelGrid>

			</p:fieldset>


		</o:form>

	</ui:define>
</ui:composition>